@import '../../styles/variables.sass'

.container 
    display: flex
    flex-direction: column
    padding: 1vh 1vw
    background-color: rgba($primaryDark2Color, 0.8)
    border-radius: 2vh
    align-items: flex-startcenter
    justify-content: space-evenly
    margin: 10px
    flex-grow: 1
    

.globalContainer
    width: 20%
    height: 50%
    //background-color: rgba($primaryDark2Color, 0.8)
    position: absolute
    bottom: 0
    right: 0
    display: flex
    flex-direction: column  
    align-items:  stretch    //vertical alignment

.jointContainer
    //background-color: rgba($primaryDark2Color, 0.8)
    width: 20%
    height: 40%
    position: absolute
    bottom: 0
    left: 0
    display: flex
    flex-direction: row
    align-items: stretch

.button
    background-color: rgba($primaryDark2Color, 0.8)
    color: $secondaryColor
    border: 3px solid $secondaryColor
    border-radius: 20px
    padding: 5px 10px
    cursor: pointer
    font-size: 1.1rem         //adjust font size as needed
    text-align: center        // center the text within the button
    white-space: nowrap       // prevent line breaks within the button
    overflow: hidden          // hide any overflow text 
    text-overflow: ellipsis

    &:hover
        scale: 1.1

    &:focus
        scale: 1.1
        background-color: $secondaryColor
        color: $textLightColor