[submodule "custom_msg"]
	path = custom_msg
	url = git@github.com:EPFLXplore/ERC_SE_CustomMessages.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:EPFLXplore/ERC_CS_GUI.git
[submodule "rosbridge_suite"]
	path = rosbridge_suite
	url = git@github.com:EPFLXplore/rosbridge_suite.git
