[submodule "custom_msg"]
	path = custom_msg
	url = https://github.com/EPFLXplore/ERC_SE_CustomMessages
[submodule "frontend"]
	path = frontend
	url = https://github.com/EPFLXplore/ERC_CS_GUI
[submodule "rosbridge_suite"]
	path = rosbridge_suite
	url = git@github.com:RobotWebTools/rosbridge_suite.git
