
		#SC{
			color: #BEFF00;
			font-weight: bold;
			font-size: 15px;
			border: 5px solid #BEFF00;

		}
		#WE{
			color: #00FFD7;
        	font-weight: bold;
        	font-size: 15px;
        	border: 5px solid #00FFD7;

		}
		#CI{
			color:#CF00FF;
        	font-weight: bold;
        	font-size: 15px;
        	border: 5px solid #CF00FF;

		}
		#SP{
			color: #FF0037;
        	font-weight: bold;
        	font-size: 15px;
        	border: 5px solid #FF0037;

		}
		#CA{
			color: #FFB800;
        	font-weight: bold;
        	font-size: 15px;
        	border: 5px solid #FFB800;

		}
      #Calibrate{
         color: orange;
        	font-weight: bold;
        	font-size: 15px;
        	border: 5px solid orange;
         background: #1f1f1f;
      }

        #NAVBUTTON {
           border-radius: 35px;
           border: 5px solid #2379fa;

        }
        #NAVBUTTON_CURRENT {
           border-radius: 35px;
           border: 5px solid Red;

        }
        #SEPARATOR {

           background-color: #2379fa;

        }
		#SEPARATOR_2{
			background-color: #8e9ea3
		}

        #Emergency {
           border-radius: 20px;
           border: 5px solid #ff0000;
           background: #1f1f1f;
           font-size: small;
           color: white;
        }
        #start_button{
         border-radius: 20px;
         border: 5px solid green;
         background: #1f1f1f;
         font-size: small;
         color: white;
        }
        #start_button:hover{
         background : #71f14a;
         }
         #start_button:active{
         background : #0faf44;
         }
        #wait_button{
         border-radius: 20px;
         border: 5px solid yellow;
         background: #1f1f1f;
         font-size: small;
         color: white;
        }
        #wait_button:hover{
         background : #f1e64a;
         }
         #wait_button:active{
         background : #acaf0f;
         }
        #resume_button{
         border-radius: 20px;
         border: 5px solid rgb(20, 142, 163);
         background: #1f1f1f;
         font-size: 9px;
         color: white;
        }
        #resume_button:hover{
         background : #4abcf1;
         }
         #resume_button:active{
         background : #0f82af;
         }


        #SWITCH {
         border-radius: 20px;
         border: 2px solid #fffb00;
         background: #1f1f1f;
         font-size: small;
         color: white;
       
      }

      #SWITCH:hover{
         border-radius: 20px;
         border: 2px solid #fffb00;
         background: #b7c72c;
         font-size: small;
         color: white;
      }
      
      #SWITCH:active{
         border-radius: 20px;
         border: 2px solid #fffb00;
         background: #c7cf79;
         font-size: small;
         color: white;
      }


        #Idle{

        	color: #4797CD;
        	font-weight: bold;
        	font-size: 20px;
        	border: 5px solid #4797CD;
        	background: #141C31

        }

        #Idle:hover {
          background: white;

        }
        #Start:hover {
          background: white;

        }
        #Working:hover {
          background: white;

        }
        #Wait:hover {
          background: white;

        }
        #Resume:hover {
          background: white;

        }
        #Abort:hover {
          background: white;

        }
        #Waiting:hover {
          background: white;

        }
        #Emergency:hover{
          background : #f14a4a;
        }
        #Emergency:active{
          background : #af0f0f;
        }

        #Start{

        	color: #0CEA13;
        	font-weight: bold;
        	font-size: 20px;
        	border: 5px solid #0CEA13;
        	background: #141C31

        }
        #Working{

        	color: #EBDD1A;
        	font-weight: bold;
        	font-size: 20px;
        	border: 5px solid #EBDD1A;
        	background: #141C31

        }
        #Wait{

        	color: #FCD306;
        	font-weight: bold;
        	font-size: 20px;
        	border: 5px solid #FCD306;
        	background: #141C31

        }
        #Waiting{

        	color: #D2119D;
        	font-weight: bold;
        	font-size: 20px;
        	border: 5px solid #D2119D;
        	background: #141C31

        }
        #Resume{

        	color: #2BAF17;
        	font-weight: bold;
        	font-size: 20px;
        	border: 5px solid #2BAF17;
        	background: #141C31

        }
        #Abort{

        	color: #FA0F2F;
        	font-weight: bold;
        	font-size: 20px;
        	border: 5px solid #FA0F2F;
        	background: #141C31

        }



        #GRID {

           border: 2px solid #616161;

        }

        #CAMERA_LABEL {
        	color: white;
        	font-weight: bold;
        	border-bottom: 2px solid #616161;
        	border-left: 2px solid #616161;
        	border-right: 2px solid #616161;
        }

        #IMAGE {

           border-bottom: 2px solid #2379fa;

        }

        #Tab-Label {
           /* background: #6C83B8; */
           background: black;
           color: white;
           font-weight: bold;
           font-size: 28px;
           border-top: 2px solid #2379fa;
        }

        #AUTO {

           color: Red;
           font-weight: bold;
           font-size: 30px;
           border: 5px solid red;
		     
        }
		#AUTO_2 {

           color: Red;
           font-weight: bold;
           font-size: 12px;
           border: 5px solid red;
		      
        }
		#HD_LABEL{
			color: white;

			font-size: 12px;
			border: 3px solid white;
			border-radius: 20px;
		}
         #MANUAL {

           color: rgb(4, 211, 4);
           font-weight: bold;
           font-size: 30px;
           border: 5px solid rgb(4, 211, 4);
		   
        }
         #MANUAL_2 {

           color: rgb(4, 211, 4);
           font-weight: bold;
           font-size: 12px;
           border: 5px solid rgb(4, 211, 4);
		   
        }
		#SET{
			color: rgb(4, 211, 4);
			font-weight: bold;
			font-size: 12px;
			border: 2px solid rgb(4, 211, 4);
			border-radius: 360px;
         background: #1f1f1f
		}

      #SET:hover{
         color: rgb(4, 211, 4);
			font-weight: bold;
			font-size: 12px;
			border: 2px solid rgb(4, 211, 4);
			border-radius: 360px;
         background: #8bee6d
      }

      #SET:active{
         color: rgb(4, 211, 4);
			font-weight: bold;
			font-size: 12px;
			border: 2px solid rgb(4, 211, 4);
			border-radius: 360px;
         background: #6ba859
      }

        #Window_Top {
           /* background: #141C31; */
           background: #000000;
           border-bottom: 2px solid #2379fa;
        }

        #TAB_FRAME {
           background: #1f1f1f;
        }
        #imageCapture{
         background: #1f1f1f;
         border-color: #2379fa ;
         color: #2379fa;
        }

        #imageCapture:hover{
         background: #4753c3;
         border-color: #2379fa ;
         color: #2379fa;
        }
        #imageCapture:active{
         background: #505585;
         border-color: #2379fa ;
         color: #2379fa;
        }

        #showButton{
         background: #1f1f1f;
         border-color: yellow;
         color: yellow;
        }
        #showButton:hover{
         background: #e2ce1d;
         border-color: yellow;
         color: yellow;
        }
        #showButton:active{
         background: #dacd5a;
         border-color: yellow;
         color: yellow;
        }

        #entry{
         background: #1f1f1f;
         color:white;
        }

        #DATA_FRAME {
        	 border: 2px solid #616161;
           
           background: #1f1f1f;
        }
        #DATA_FRAME_2 {
        	border: 2px solid #2379fa;
        	border-radius : 10px;
        }
        #DATA_FRAME_SC {
         border: 2px solid #fa9d23;
         border-radius : 10px;
      }

		#DATA_FRAME_4{
			border: 2px solid #616161;
        	background: #1f1f1f;
		}
		#DATA_FRAME_6{
			background-image: url("../resources/HD3.png");
			background-repeat: no-repeat;
			background-position: bottom;
		}
		#TUBE_BUTTON{
			border-radius: 360px;
			color: white;
         font-weight: bold;
         background: #1f1f1f;
		}
      #TUBE_BUTTON:hover{
			border-radius: 360px;
			color: white;
         font-weight: bold;
         background: #5f5a5a;
		}
      #TUBE_BUTTON:active{
			border-radius: 360px;
			color: white;
         font-weight: bold;
         background: #252525;
		}
        #DATA_FRAME_BG {

	        background-image: url("../resources/t3.png");
	        background-repeat: no-repeat;
	        background-position: center;
        }

        #detailsButton{
         background: #1f1f1f;
         border-color: red;
         color: red;
        }

        #frame1 {
           /* background: #141C31; */
           background: #1f1f1f;
        }
        #LABEL_MD {
           color: white;
           font-weight: bold;
           font-size: 25px;
        }
        #LABEL_SM {
           color: white;
           font-weight: bold;
           font-size: 15px;
        }
        #LABEL_SM2 {
         color: white;
         font-weight: bold;
         font-size: 20px;
      }
		#DATA_LABEL_SM{
			color: #e8da1a;
            /* font-weight: bold; */
            font-size: 15px;
		}
		#DATA_LABEL_MD{
			color: #e8da1a;
            /* font-weight: bold; */
            font-size: 25px;
		}
		#DATA_COMPASS{
			background-image: url("../resources/compass2.png");
	        background-repeat: no-repeat;
	        background-position: center;
		}
      #av_separator{
         background-color:white;
      }
     
      #temp_separatore_red{
         background-color: red;
      }
     

      #plier{
         background: #1f1f1f;
         border-color: #2379fa;
         color: #2379fa;
      }
      #scMissionButton{
         background: #1f1f1f;
         color: #2379fa;
         font-size: 25px;
         font-weight: bold;
         border-radius: 360px;
         border: 5px solid #2379fa;
         
      }

      #switch{
         color: white;
         font-size: 15px;
      }
      

     