{% load static %}
    
    <div>
        <p style="color: white; margin-top: 15px; font-weight: bold;">ELAPSED TIME</p>
        <p id="elapsed" style="color: white; margin-bottom: 10px; ">00 : 00 : 00</p>

        

        <img src="{% static 'common/ok.png' %}" alt="" width="48" height="48" style="margin-top: 10px; margin-right: 10px; opacity: 1;">
        <img src="{% static 'common/warning.png' %}" alt="" width="40" height="40" style="margin-top: 10px; opacity: 0.2;">
        <img src="{% static 'common/error.png' %}" alt="" width="42" height="42" style="margin-top: 10px; opacity: 0.2; margin-left:15px;">


    </div>
</div>