body {
	background: linear-gradient(-45deg, #ff0000, #ee7752, #e73c7e, #23a6d5, #23d5ab, #009933);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
	height: 100vh;
	text-align: center;
	padding: 100px 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.prim_button {
      background-color: #0000cc;
      border-radius: 10px;
      border: 4px double #cccccc;
      color: #eeeeee;
      text-align: center;
      font-size: 28px;
      padding: 15px;
      width: 400px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
}
.sec_button {
      background-color: #505050;
      border-radius: 10px;
      border: 4px double #cccccc;
      color: #eeeeee;
      text-align: center;
      font-size: 28px;
      padding: 10px;
      width: 300px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
}

.prim_button:hover {
      background-color: #0066ff;
}
.sec_button:hover {
	  background-color: #808080;
}

button span {
      cursor: pointer;
      position: relative;
      transition: 0.5s;
}
button span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
}

button:hover span {
      padding-right: 25px;
}
button:hover span:after {
      opacity: 1;
      right: 0;
}
