{% extends "../base.html" %}
{% load static %}


{% comment %} 
			Style Block
Contains the reference to the page stylesheet.
{% endcomment %}
{% block page_style %} {% static 'homepage/homepage.css'%} {% endblock %}

{% comment %} Body Block {% endcomment %}
{% block body %}
{% endblock %}


{% comment %} 
					Script Block
Contains local scripts that need the content to be loaded.
They implement the websocket connection to update the data.
{% endcomment %}

{% block scripts_end %}
	<script src="{% static 'homepage/homepage_socket.js' %}"></script>
	<script src="{% static 'common/common.js' %}"></script>
{% endblock %}
