{% load static %}

<!--video.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video</title>
    <link href="{% static 'manualcontrol/manualcontrol.css' %}" rel="stylesheet">
</head>
<body>

{{ v_name|json_script:"v-name"}}

<div class="row">
    <div class="column">
        
      <img id="resImg"src="{% static 'common/logothumbnail.png' %}" width="40%">
      <img id="resImg2"src="{% static 'common/logothumbnail.png' %}"width="40%">
      

    </div>
    <div class="column">
      <img id="resImg3" src="{% static 'common/logothumbnail.png' %}" width="40%">
      <img id="resImg4" src="{% static 'common/logothumbnail.png' %}" width="40%"> 
      

    </div>
    <!-- <script>
        document.querySelector('#camera_3').onclick = function() {

        

            var src1 = document.querySelector("#camera_1").src
            document.querySelector("#camera_1").src = document.querySelector("#camera_3").src
            document.querySelector("#camera_3").src = src1

        }		
    </script> -->
    
  </div>

<!-- <div>
    <h1>CAMERAS</h1>
</div>

<div>
    <img id="resImg" src="" />
</div> -->

<!-- ============================================================================ -->
<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js" ></script>

<script>
        const vname = JSON.parse(document.getElementById('v-name').textContent);

        console.log(vname);


        let ws = new WebSocket(
            'ws://'
            + window.location.host
            // + '172.20.10.7:8000'
            // + '/ws/video1'
            + '/ws/cameras/'
            + vname
            // + '/wms'
            + '/'
        );

        ws.onmessage = function(evt) {
            v_data = JSON.parse(evt.data);
            $("#resImg").attr("src", v_data.message);
            $("#resImg2").attr("src", v_data.message);
            $("#resImg3").attr("src", v_data.message);
            $("#resImg4").attr("src", v_data.message);
            
        };

        ws.onclose = function(evt) {
            console.log("Connection closed.");
        };


</script>
</body>
</html>