@import '../../styles/variables'

.table 
  width: fit-content
  border-collapse: collapse
  

th,
td 
  padding: 8px
  border: 2px solid $secondaryColor
  color: white


th 
  background-color: $secondaryColor
