
:root{

	--input-background: #d8d8d8;
    --xplore-blue: #07142d;

}

/* clean */
.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
	/* position: fixed; */
    bottom: 0;
    right: 0;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
	flex: 50%;
	padding: 0 4px;
  }
  
  .column img {
	margin-top: 8px;
	vertical-align: middle;
  }

/* end clean */

/*==========================================================================
							DIVS
==========================================================================*/
.left{
	float: left;
	width: 49.9%;
	height: 90%;
}

.top-left{
	background-color: var(--clr-gb);
	width: 100%;
	height: 49.8%;
}

.bottom-left{
	background-color: var(--clr-gb);
	width: 100%;
	height: 49.8%;	
}

.right{
	float: left;
	background-color: var(--clr-gb);
	width: 49.9%;
	height: 100%;
}

.camera-container{
	float: left;
	width: 40%;
	height: 100%;
}

.camera-box{
	float: left;
	width: 49%;
	height: 100%;
}

#left-camera-box{
	margin-left: 1%;
	margin-right: 1%;
}

.hd{
	float: left;
	width: 60%;
	height: 100%;
}

.hd-container{
	text-align: center;
	height: 70%;
	width: 100%;
}

.joint-option-container{
	width: 100%;
	height: 30%;
}

.rover{
	text-align: center;
	width: 100%;
	height: 55.5%;
}

.settings-container{
	width: 100%;
	height: 100%;
}


.settings-top-bar .settings-bottom{width: 100%;}
.settings-top-bar{height: 15%; margin-top: 2%;}
.settings-bottom {height: 33%;}

.currentpos-container{
	float: left;
	height: 100%;
	width: 45%;
}

.velocity-container{
	float: left;
	height: 100%;
	width: 55%;
	padding-left: 10%;
}

.pos-title-c{
	float: left;
	width: 50%;
	height: 100%;
}

.pos-coord{
	float: left;
	width: 50%;
	height: 100%;
	text-align: center;
}

.coord-c{
	float: left;
	width: 33.33%;
	height: 100%;
}

.velocity-title-c{
	width: 100%;
	height: 20%;
}

.velocity-type-container{
	width: 100%;
	height: 50%;
	padding-top: 2%;
}

.velocity-type-c{
	float: left;
	height: 100%;
	width: 50%;
}

.settings{
	float: left;
	width: 50%;
	height: 100%;
}

.widgets{
	float: left;
	width: 50%;
	height: 100%;
	
}

.circle-led-container{
	float: left;
	text-align: center;
	width: 25%;
	height: 100%;
}

.velocity-dashboard-container{
	float: left;
	width: 75%;
	height: 100%;
	text-align: center;
}

.controller-switch{
	width: 100%;
	height: 4%;
	margin-top: 227%;
}

.switch-title-container{
	float: left;
	height: 100%;
	padding-left: 5%;
	padding-top: 2%;
}

.switch-container{
	float: left;
	width: 40%;
	padding-left: 12%;
}

.control-mode-container{
	width: 60%;
	height: 40%;
	margin-left: 20%;
	margin-top:12%;
}

.control-container{
	width: 100%;
	height: 21%;
	padding-bottom: 30%;
}

/*________SETTINGS________*/
/*MODES*/
.settings_box{
	width: 100%;
	height: 100%;
	display: block;
	margin-bottom: 5%;
}

.settings-title-box{
	width: 100%;
	height: 15%;
	padding-left: 10%;
}

.settings-values-box{
	width: 100%;
	height: 65%;
	padding-left: 10%;
}

.settings-buttons-box{
	width: 100%;
	height: 15%;
	margin-top: 2%;
}

.data-line{
	width: 100%;
	height: 50%;
}

.settings-value-container{
	float: left;
	width: 13%;
	height: 100%;
	margin-right: 5%;
}

.set-box{
	float: right;
	height: 100%;
	width: 20%;
	margin-left: 8%;
}

ul.joints{
	float:left;
	color:white;
	margin-left: 45px;
}

/*==========================================================================
==========================================================================*/

/*==========================================================================
=====================|    SVG   |==========================================*/
.circle-led{
	text-align: center;
	width: 60%;
	margin-top: 30%;
}


/*==========================================================================
=====================|    P    |==========================================*/
#envmap-title{
	text-align: center;
	color: white;
	font-size: 15px;
	font-family: var(--font);
	margin-top:-4%;
}

.pos-title{
	color: white;
	font-family: var(--font);
	padding-left: 9%;
	padding-top: 10%;
    font-size: 15px;
    font-weight: bold;
}

.coord-type{
	color: white;
	width: 100%;
	font-family: var(--font);
	margin-top: 5px;
	margin-bottom: 5px;
}

.coordinate{
	width: 100%;
	color: #ffffff;
	margin-top: 5px;
	margin-bottom: 5px;
}

.velocity-title{
	text-align: center;
	color: white;
	font-family: var(--font);
	margin: 0px;
    font-size: 15px;
    font-weight: bold;
}

.velocity-type{
	float:left;
	width: 50%;
	color: white;
	font-family: var(--font);
	margin: 0px;
}

.velocity{
	float:left;
	width: 50%;
	color: #ffffff;
	margin: 0px;
	text-align: center;
}

.switch-title{
	color: white;
	font-family: var(--font);
	font-size: 17px;
	font-weight: bold;
}

.settings-title{
    text-align: left;
	color: white;
	font-family: var(--font);
	font-weight: bold;
    font-size: 15px;
}

.data-title{
	text-align: center;
	width: 100%;
	height: 40%;
	color: white;
	font-family: var(--font);
}

.joint-name{
	text-align: center;
	float: left;
	width: 50%;
	height: 100%;
	margin-left: 10%;
	padding-top: 2%;
	color: white;
	font-family: var(--font);
	font-size: 13px;
	border: 2px solid grey;
	border-radius: 10px;
}

.target-position{
	text-align: center;
	width: 70%;
	height: 20%;
	padding-top: 1.7%;
	color: white;
	font-family: var(--font);
	font-size: 15px;
	border: 2px solid grey;
	border-radius: 10px;
}

/*==========================================================================
=====================| IMAGES  |==========================================*/
#imagerover{
	height: 100%;
}

#imagehd{
	text-align: center;
	height: 100%;
}

#imagevelocity{
	margin-top: 15%;
	width: 60%;
}

/*==========================================================================
=====================| VIDEOS  |==========================================*/
.envmap{
	width: 99.5%;
	height: 100%;
	margin-left: 0.5%;
	background-color: black;
}

.camera{
	width:100%;
	height: 20%;
	background-color: black;
}

.hd-animation{
	width: 100%;
	height: 60%;
}

/*==========================================================================
=====================| FORMS  |==========================================*/
.control-form{
	width:100%;
	height: 100%;
}

.set-form{
	width: 100%;
	height: 100%;
}

/*==========================================================================
=====================| INPUTS  |==========================================*/
#switch-input{
	width: 3em;
	height: 1.5em;
}

.data-input{
	width: 80%;
	height: 50%;
	text-align: center;
	border-radius: 10px;
	background-color: black;
	font-size: 15px;
    color: white;
    border-color: var(--xplore-blue);
}

/*==========================================================================
=====================| BUTTONS  |==========================================*/
.control-button{
	width: 100%;
	height: 100%;
	border: 5px solid;
	border-radius: 10px;
	background-color: inherit;
	color: white;
	font-size: 17px;
	font-family: var(--font);
	font-weight: bold;
}

.control-button:hover{
	font-size: 18px;
	transition: all 0.3s;
	cursor: pointer;
}

#inverse-button{
	border-color: rgb(90, 195, 255);
}
#direct-button{
	border-color: rgb(60, 82, 211);
}

#inverse-button:hover{
	background-color: rgb(90, 195, 255);
}
#direct-button:hover{
	background-color: rgb(60, 82, 211);
}

#choose-joint{
	text-align: center;
	background-color: var(--clr-gb);
	border: 5px solid #07ae1d;
	border-radius: 5px;
	
	color: white;
	font-size: 15px;
	font-family: var(--font);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	
	margin: 10%;
	transition: all 0.5s;
	cursor: pointer;
}

.set-button{
	width: 50%;
	height: 100%;
	color: white;
	background-color: inherit;
	font-family: var(--font);
	border: 2px solid blue;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.2s;
    margin-top: 10px;
    margin-left: 10px;
}

.set-button:hover{
	background-color: blue;
}


















/*

*/


















/*==========================================================================
=====================| VARS  |============================================*/
:root{
	--clr-neon: #0000ff;
	--clr-y   : yellow;
	--clr-gb  : #121212;
	--clr-sep : #07142d;

	--input-background: #d8d8d8;
	--input-color: black;

	--xplore-blue: #07142d;
	--font: sans-serif;
}

/*==========================================================================
						DIVS
==========================================================================*/
.left{
	float: left;
	width: 49.9%;
	height: 90%;
}

.top-left{
	background-color: var(--clr-gb);
	width: 100%;
	height: 49.9%;
}

.bottom-left{
	background-color: var(--clr-gb);
	width: 100%;
	height: 49.9%;
	text-align: center;
}

.right{
	float: left;
	background-color: var(--clr-gb);
	width: 49.9%;
	height: 90%;
}

.top-right{
	background-color: var(--clr-gb);
	width: 100%;
	height: 49.9%;
}

.bottom-right{
	background-color: var(--clr-gb);
	width: 100%;
	height: 49.9%;

	position: relative;
}

.table-container{
	width: 100%; 
	height: 100%;
	overflow: hidden;
	overflow-y: scroll;
}

.table-title-container{
	width: 100%;
	height: 10%;
	margin-top: 1%;
}

.user-input-container{
	width: 50%;
	height: 70%;
	
	margin-left: 30px;
	position: absolute;
	bottom: 0;
}

.circle-led-container{
	width: 50%;
	height: 30%;
}

.input-title-container{
	width: 100%;
	height: 20%;
}

.input-container{
	width: 100%;
	height: 20%;
}

.button-dropdown-container{
	width: 100%;
	height: 20%;
}

.coord-name-container{
	width: 100%;
	height: 9%;
	margin-top: 3%;
}




.bottom-right .joints {
	margin-left: 40px;
	padding-top: 40px;
	font-family: var(--font);
}

.joints .joint-data-pos{
	clear:both;
}

.joint-data-pos .container {
	margin-left: 180px;
}

.container .data{
	
	margin-left: 10px;
	padding-left: 10px;
	float:left;
	color: rgb(255, 255, 255);
}

.title-container .data-title{
	float: left;
	color:white;
	font-weight: bold;
}

.velocity-div {
	display: grid;
}

.velocity-data {
	float: left;
}

.state-button-container {
	display: -webkit-box;
}

.state-button-form {
	width: 250px; 
	height:30px;
}

#mode-title {
	color: white; 
	padding-left: 10px;
}

#hd_man_mode {
	color: white;
}

.mode-container {
	float:left;
}
