{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Xplore_CS_2022</title>
  <link href="{% static 'navigation/navigation.css' %}" rel="stylesheet">
  <!-- <link rel="icon" type="image/x-icon" href="{% static 'homepage/Xplore-icon.ico' %}"> -->
</head>

<body>
	<div id="container">
  	<div id="sidebar" class="box">
  	  <div class="logo">
  	  	<img id="imagelogo" src="{% static 'common/Xplore-logo-white.png' %}" alt="My image">
  	  </div>
  	  
  	  <div class="page-button-container">
  	  	<form id="navigation" action="http://127.0.0.1:8000/Xplore_CS_2022/navigation">
					<button class="page-button">
						<span>NAVIGATION</span>
					</button>
				</form>
				
				<form id="handlingdevice" action="http://127.0.0.1:8000/Xplore_CS_2022/handlingdevice">
					<button class="page-button">
						<span>HANDLING DEVICE</span>
					</button>
				</form>
				
				<form id="science" action="http://127.0.0.1:8000/Xplore_CS_2022/science">
					<button class="page-button">
						<span>SCIENCE</span>
					</button>
				</form>
				
				<form id="manualcontrol" action="http://127.0.0.1:8000/Xplore_CS_2022/manualcontrol">
					<button class="page-button">
						<span>MANUAL CONTROL</span>
					</button>
				</form>
  	  </div>
  	  
  	  <div class="state-button-container">
  	  	<button id="launch" class="state-button">
  	  	<span>LAUNCH<span>
  	  	</button>
  	  	
  	  	<button id="abort" class="state-button">
  	  	<span>ABORT<span>
  	  	</button>
  	  	
  	  	<button id="resume" class="state-button">
  	  	<span>RESUME<span>
  	  	</button>
  	  	
  	  	<button id="wait" class="state-button">
  	  	<span>WAIT<span>
  	  	</button>
  	  </div>
  	  
  	</div>
	
  	<div id="right-side" class="box">
  		<div class="top-bar">
  			<label id="idle-state" class="neon-label">IDLE</label>
  			<label id="navigation-state" class="neon-label">NAVIGATION</label>
  			<label id="hd-state" class="neon-label">HANDLING DEVICE</label>
  			<label id="science-state" class="neon-label">SCIENCE</label>
  			<label id="manual-state" class="neon-label">MANUAL CONTROL</label>
  			<label id="waiting-state" class="neon-label">WAITING</label>		
  		</div>
  		
  		<div id="page" class="page">
  			
			<!--LEFT SIDE-->
  			<div class="left">
  				<div class="top-left">
  				
  					<video class="envmap" autoplay="true">
  					</video>
  					<p id="envmap-title">ELEVATION MAP</p>
  					
  				</div>
  				<div class="h-separator">
  				</div>
  				<div class="bottom-left">
  				
  					<div class="camera-container">
  						<div id="left-camera-box" class="camera-box">
  							<video id="camera-0" class="camera"></video>
  							<!--<div class="h-separator-s"></div>-->
  							<video id="camera-1" class="camera"></video>
  							<!--<div class="h-separator-s"></div>-->
  							<video id="camera-2" class="camera"></video>
  						</div>
  						<!-- <div class="v-separator-s"></div> -->
  						<div id="middle-camera-box" class="camera-box">
  							<video id="camera-3" class="camera"></video>
  							<!--<div class="h-separator-s"></div>-->
  							<video id="camera-4" class="camera"></video>
  							<!--<div class="h-separator-s"></div>-->
  							<video id="camera-5" class="camera"></video>
  						</div>
						<!-- <div class="v-separator-s"></div> -->
						<div id="right-camera-box" class="camera-box">
							<video id="camera-6" class="camera"></video>
							<!--<div class="h-separator-s"></div>-->
							<video id="camera-7" class="camera"></video>
							<!--<div class="h-separator-s"></div>-->
							<video id="camera-8" class="camera"></video>
						</div>
  					</div>
  				</div>	  
  			</div>


			  <!--RIGHT SIDE-->
 				<div class="v-separator">
 				</div>

  			<div class="right">
  			
  				<div class="rover">
  					<img id="imagerover" src="{% static 'common/Xplore-rover.png' %}" alt="ROVER">
  				</div>
				
				<div id="bottom-right-data" class="bottom-right" >

					<div class="data-container" >
						<div class="title-container" >
							<div class="course-container">
								<div class="velocity-title-c">
									<p class="velocity-title">COURSE DATA:</p>
								</div>
							</div>

							<div class="course-container">
								<div class="velocity-title-c">
									<p class="velocity-title">CURRENT POSITION:</p>
								</div>
							</div>

							<div class="course-container">
								<div class="velocity-title-c">
									<p class="velocity-title">GOAL POSITION:</p>
								</div>
							</div>

							<div class="course-container">
								<div class="velocity-title-c">
									<p class="velocity-title">VELOCITY(m/s):</p>
								</div>
							</div>
						</div>

						<div class="numbers-container" >
							<div class="digits-container">
								<div class="data-title-c">
									<p class="data-title">ETA:</p>
									<p class="data-title">DRD:</p> 
									<p class="data-title">RRD:</p>
								</div>
							</div>
							
							<div class="digits-container">
								<div class="data-title-c">
									<p class="answer-data">Time1</p>
									<p class="answer-data">Distance1</p> 
									<p class="answer-data">Distance2</p>
								</div>
							</div>

							<div class="digits-container">
								<div class="data-title-c">
									<p class="data-title">X</p>
									<p class="data-title">Y</p> 
									<p class="data-title">Z</p>
								</div>
							</div>

							<div class="digits-container">
								<div class="data-title-c">
									<p class="answer-data">X2</p>
									<p class="answer-data">Y2</p> 
									<p class="answer-data">Z2</p>
								</div>
							</div>

							<div class="digits-container">
								<div class="data-title-c">
									<p class="data-title">X</p>
									<p class="data-title">Y</p> 
									<p class="data-title">Z</p>
								</div>
							</div>

							<div class="digits-container">
								<div class="data-title-c">
									<p class="answer-data">X3</p>
									<p class="answer-data">Y3</p> 
									<p class="answer-data">Z3</p>
								</div>
							</div>

							<div class="digits-container">
								<div class="data-title-c">
									<p class="data-title">Linear</p>
									<p class="data-title">Angular</p> 
								</div>
							</div>

							<div class="digits-container">
								<div class="data-title-c">
									<p class="answer-data">V1</p>
									<p class="answer-data">V2</p> 
								</div>
							</div>

						</div>
					</div>

					<div class="symbols-container">
						<div id="bottom-right-corner-video" class = "right-side-camera-box">
							<video id="camera-9" class="camera-total"></video>
						</div>

						<div id="warnings" class = "warning-image">
							<img id="imagewarning" src="{% static 'navigation/greencheck.png' %}" alt="GREEN">
						</div>

						<div id="warnings" class = "warning-image">
							<img id="imagewarning" src="{% static 'navigation/yellowexclamation.png' %}" alt="GREEN">
						</div>
						
						<div id="warnings" class = "warning-image">
							<img id="imagewarning" src="{% static 'navigation/redexclamation.png' %}" alt="GREEN">
						</div>
					</div>
				</div>
  			</div>
  		</div>
  	</div>
  	
  </div>
</body>

</html>
