@import '../../styles/variables'

.Container
    position: absolute
    top: 0
    right: 0
    margin: 3vh
    padding: 2vh 2vw
    background-color: rgba($primaryDark2Color, 0.8)
    border-radius: 2vh

.Title
    margin: 0
    text-align: center

.PageOptions
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center
    margin: 0
    margin-top: 10px
    padding: 0
    list-style: none

.multiSelectContainer
    width: 100px !important

