{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CS2022</title>
  
	<!-- STYLE -->
	<link href="{% static 'common/border.css' %}" rel="stylesheet">
	<link href="{% static 'handlingdevice/handlingdevice.css' %}" rel="stylesheet">
	<link href="{% static 'common/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

	<!-- SCRIPT -->
	<script src="{% static 'common/border.js' %}"></script> 
	<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>

	<script>
		$(document).ready(function() {
    		$(document).on('submit', '#launch-form', function() {
				window.location.href ="/CS2022/handlingdevice/launch";
      			return false;
    		 });
    		$(document).on('submit', '#wait-form', function() {
				window.location.href ="/CS2022/handlingdevice/wait";
      			return false;
    		 });
    		$(document).on('submit', '#abort-form', function() {
				window.location.href ="/CS2022/handlingdevice/abort";
      			return false;
    		 });
    		$(document).on('submit', '#resume-form', function() {
				window.location.href ="/CS2022/handlingdevice/resume";
      			return false;
    		 });
    		$(document).on('submit', '#retry-form', function() {
				window.location.href ="/CS2022/handlingdevice/retry";
      			return false;
    		 });
		});
	</script>
	
	<!-- ICON -->
	<link rel="icon" type="image/x-icon" href="{% static 'common/Xplore-icon.ico' %}">
</head>

<body>
{{ tab_name|json_script:"tab-name" }}
<div id="container">
  	<div id="sidebar" class="box">
  		<div class="logo">
			<form class="logo-form" action="http://127.0.0.1:8000/CS2022/homepage">
				<input id="imagelogo" type="image" src="{% static 'common/Xplore-logo-white.png' %}" alt="My image">
			</form>
  		</div>
  	  
  		<div class="page-button-container">
  			<form action="http://127.0.0.1:8000/CS2022/navigation">
				<button id="navigation" class="page-button">
					<span>NAVIGATION</span>
				</button>
			</form>
				
			<form action="http://127.0.0.1:8000/CS2022/handlingdevice">
				<button id="handlingdevice" class="current-page-button" disabled="true">
					<span>HANDLING DEVICE</span>
				</button>
			</form>
				
			<form action="http://127.0.0.1:8000/CS2022/science">
				<button id="science" class="page-button">
					<span>SCIENCE</span>
				</button>
			</form>
				
			<form action="http://127.0.0.1:8000/CS2022/manualcontrol">
				<button id="manualcontrol" class="page-button">
					<span>MANUAL CONTROL</span>
				</button>
			</form>
				
			<form action="http://127.0.0.1:8000/CS2022/avionics">
				<button id="avionics" class="page-button">
					<span>AVIONICS</span>
				</button>
			</form>
  		</div>
  	  
  		<div class="long-state-button-box">
			<div id="large-launch-box" class="state-button-container">
				<form id="launch-form" class="state-button-form">
					<button id="launch-button" class="state-button" onclick="lit_hd_state()">
						<span>LAUNCH<span>
					</button>
				</form>
			</div>

			<div id="wait-box" class="state-button-container">
				<form id="wait-form" class="state-button-form">
					<button id="wait-button" class="state-button" onclick="lit_waiting_state()">
						<span>WAIT<span>
					</button>
				</form>
			</div>
			
			<div id="abort-box" class="state-button-container">
				<form id="abort-form" class="state-button-form">
					<button id="abort-button" class="state-button" onclick="unlit_hd_state()">
						<span>ABORT<span>
					</button>
				</form>
			</div>


			<div id="resume-box" class="state-button-container">
				<form id="resume-form" class="state-button-form">
					<button id="resume-button" class="state-button" onclick="unlit_waiting_state()">
						<span>RESUME<span>
					</button>
				</form>
			</div>

			<div id="retry-box" class="state-button-container">
				<form id="retry-form" class="state-button-form">
					<button id="retry-button" class="state-button" onclick="lit_hd_state()">
						<span>RETRY<span>
					</button>
				</form>
			</div>
		</div>
  	</div>
	
  	<div id="right-side" class="box">
  		<div class="top-bar">
  			<label id="idle-state" class="neon-label">IDLE</label>
  			<label id="navigation-state" class="neon-label">NAVIGATION</label>
  			<label id="hd-state" class="neon-label">HANDLING DEVICE</label>
  			<label id="science-state" class="neon-label">SCIENCE</label>
  			<label id="manual-state" class="neon-label">MANUAL CONTROL</label>
  			<label id="waiting-state" class="neon-label">WAITING</label>		
  		</div>
  		
  		<div id="page" class="page">
  			<!--LEFT SIDE-->
  			<div class="left">
				<div class="top-left">
					<div class="table-container">
						<table id="scroll-body" class="table table-dark table-striped">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">TAG/BUTTON</th>
									<th scope="col">X</th>
									<th scope="col">Y</th>
									<th scope="col">Z</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">1</th>
									<td>Button 1</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
								</tr>
								<tr>
									<th scope="row">2</th>
									<td>Button 2</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
								</tr>
								<tr>
									<th scope="row">3</th>
									<td>Button 3</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
								</tr>
								<tr>
									<th scope="row">4</th>
									<td>Button 4</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
								</tr>
								<tr>
									<th scope="row">5</th>
									<td>Button 5</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
								</tr>
								<tr>
									<th scope="row">6</th>
									<td>Button 6</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
								</tr>
								<tr>
									<th scope="row">7</th>
									<td>Button 7</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
								</tr>
								<tr>
									<th scope="row">8</th>
									<td>Button 8</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
								</tr>
								<tr>
									<th scope="row">9</th>
									<td>Button 9</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
								</tr>
								<tr>
									<th scope="row">10</th>
									<td>Button 10</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="h-separator"></div>
  
			</div>

			<div class="v-separator"></div>

			<!--RIGHT SIDE-->
			<div class="right">
				<div class="top-right">
					<video class="camera"></video>
				</div>

				<div class="h-separator"></div>

				<div class="bottom-right">
					<div class="user-input-container">
						<form class="input-form" action="" method="POST">{% csrf_token %}
							<div class="input-title-container">{% csrf_token %}
								<p class="input-title">TARGET</p>
							</div>


							<div class="button-dropdown-container">
								<p class="dropdown-title">ID</p>
								<select class="dropdown" id="dropdown_id">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
									<option>6</option>
									<option>7</option>
									<option>8</option>
									<option>9</option>
								</select> 

								<button type="submit" class="set-button" id="set">SET</button>
							</div>

						<!-- 
							<div class="input-container">{% csrf_token %}
								<input type="number" class="input" placeholder="X" name="x"/>
								<input type="number" class="input" placeholder="Y" name="y"/>
								<input type="number" class="input" placeholder="Z" name="z"/>
							</div> 
						-->

						</form>
					</div>

				</div>
			</div>
  		</div>
  	</div>
  	
</div>
<script>

	const tabName = JSON.parse(document.getElementById('tab-name').textContent);
	const chatSocket = new WebSocket(
		'ws://'
		+ window.location.host
		+ '/ws/CS2022/'
		+ tabName
		+ '/'
	);

	chatSocket.onmessage = function(e) {
		const data = JSON.parse(e.data);
		
		// console.log("debug")


	};

	chatSocket.onclose = function(e) {
		console.error('Chat socket closed unexpectedly');
	};


	/* WHEN SETTING A NEW ID */
	let dropdownList = document.getElementById('dropdown_id');
	let setButton = document.getElementById('set')
	setButton.onclick = (v) => {
		console.log("Selected value is: " + dropdownList.value);
	}

	// document.querySelector('#chat-message-input').focus();
	// document.querySelector('#chat-message-input').onkeyup = function(e) {
	//     if (e.keyCode === 13) {  // enter, return
	//         document.querySelector('#chat-message-submit').click();
	//     }
	// };

	// document.querySelector('#chat-message-submit').onclick = function(e) {
	//     const messageInputDom = document.querySelector('#chat-message-input');
	//     const message = messageInputDom.value;
	//     chatSocket.send(JSON.stringify({
	//         'message': message
	//     }));
	//     messageInputDom.value = '';
	// };


</script>
</body>

</html>
