{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>CS2022</title>

	<!-- STYLE -->
	<link href="{% static 'common/border.css' %}" rel="stylesheet">
	<link href="{% static 'handlingdevice/handlingdevice.css' %}" rel="stylesheet">
	<link href="{% static 'common/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

	<!-- SCRIPT -->
	<script src="{% static 'common/border.js' %}"></script>
	<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>

	<script>
		/*$(document).ready(function () {
			$(document).on('submit', '#launch-form', function () {
				window.location.href = "/CS2022/handlingdevice/launch";
				return false;
			});
			$(document).on('submit', '#wait-form', function () {
				window.location.href = "/CS2022/handlingdevice/wait";
				return false;
			});
			$(document).on('submit', '#abort-form', function () {
				window.location.href = "/CS2022/handlingdevice/abort";
				return false;
			});
			$(document).on('submit', '#resume-form', function () {
				window.location.href = "/CS2022/handlingdevice/resume";
				return false;
			});
			$(document).on('submit', '#retry-form', function () {
				window.location.href = "/CS2022/handlingdevice/retry";
				return false;
			});
		});*/
	</script>

	<!-- ICON -->
	<link rel="icon" type="image/x-icon" href="{% static 'common/Xplore-icon.ico' %}">
</head>

<body>
	{{ tab_name|json_script:"tab-name" }}
	{{ current_state|json_script:"state" }}

	<div id="container">
		<div id="sidebar" class="box">
			<div class="logo">
				<form class="logo-form" action="http://127.0.0.1:8000/CS2022/homepage">
					<input id="imagelogo" type="image" src="{% static 'common/Xplore-logo-white.png' %}" alt="My image">
				</form>
			</div>

			<div class="page-button-container">
				<form action="http://127.0.0.1:8000/CS2022/navigation">
					<button id="navigation" class="page-button">
						<span>NAVIGATION</span>
					</button>
				</form>

				<form action="http://127.0.0.1:8000/CS2022/handlingdevice">
					<button id="handlingdevice" class="current-page-button" disabled="true">
						<span>HANDLING DEVICE</span>
					</button>
				</form>

				<form action="http://127.0.0.1:8000/CS2022/science">
					<button id="science" class="page-button">
						<span>SCIENCE</span>
					</button>
				</form>

				<form action="http://127.0.0.1:8000/CS2022/manualcontrol">
					<button id="manualcontrol" class="page-button">
						<span>MANUAL CONTROL</span>
					</button>
				</form>

				<form action="http://127.0.0.1:8000/CS2022/logs">
					<button id="logs" class="page-button">
						<span>LOGS</span>
					</button>
				</form>

				<div>
					<p style="color: white; margin-top: 15px; font-weight: bold;">ELAPSED TIME</p>
					<p id = "elapsed" style="color: white; margin-bottom: 10px; ">00 : 00 : 00</p>

					<img src="{% static 'common/ok.png' %}" alt="" width="48" height="48"
						style="margin-top: 10px; margin-right: 10px; opacity: 1;">
					<img src="{% static 'common/warning.png' %}" alt="" width="40" height="40"
						style="margin-top: 10px; opacity: 0.2;">
					<img src="{% static 'common/error.png' %}" alt="" width="42" height="42"
						style="margin-top: 10px; opacity: 0.2; margin-left:15px;">


				</div>

			</div>

			<div class="long-state-button-box" style="margin-top: 680px;">
				<div class="state-button-container">
					<form class="state-button-form" method="POST">
						{% csrf_token %}
						<input id="launch-button" class="state-button" type="submit" value="LAUNCH">

					</form>
				</div>

				<div class="state-button-container">
					<form class="state-button-form" method="POST">
						{% csrf_token %}
						<input id="wait-button" class="state-button" type="submit" value="WAIT">

					</form>
				</div>

				<div class="state-button-container">
					<form class="state-button-form" method="POST">
						{% csrf_token %}
						<input id="abort-button" class="state-button" type="submit" value="ABORT">

					</form>
				</div>


				<div class="state-button-container">
					<form class="state-button-form" method="POST">
						{% csrf_token %}
						<input id="resume-button" class="state-button" type="submit" value="RESUME">

					</form>
				</div>

				<div class="state-button-container">
					<form class="state-button-form" method="POST">
						{% csrf_token %}
						<input id="resume-button" class="state-button" type="submit" value="RETRY">

					</form>
				</div>
				<script>
					document.querySelector("#launch-button").addEventListener("click", event => {
						event.preventDefault();

						var elem1 = document.getElementById('navigation-state');
						var elem2 = document.getElementById('idle-state');
						var elem3 = document.getElementById('hd-state');
						var elem4 = document.getElementById('manual-state');
						var elem5 = document.getElementById('waiting-state');

						elem1.style.opacity = 0.2;
						elem2.style.opacity = 0.2;
						elem3.style.opacity = 1;
						elem4.style.opacity = 0.2;
						elem5.style.opacity = 0.2;


						let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
						let request = new Request("launch/", {
							method: 'POST',
							body: '',
							headers: { "X-CSRFToken": csrfTokenValue }
						})
						fetch(request)
							.then(response => response.json())
							.then(result => { })
					})
				</script>
			</div>
		</div>

		<div id="right-side" class="box">
			<div class="top-bar">
				<label id="idle-state" class="neon-label">IDLE</label>
				<label id="navigation-state" class="neon-label">NAVIGATION</label>
				<label id="hd-state" class="neon-label">HANDLING DEVICE</label>
				<label id="science-state" class="neon-label">SCIENCE</label>
				<label id="manual-state" class="neon-label">MANUAL CONTROL</label>
				<label id="waiting-state" class="neon-label">WAITING</label>
			</div>

			<div id="page" class="page">
				<!--LEFT SIDE-->
				<div class="left">
					<div class="top-left">
						<video class="camera"></video>
					</div>

					<div class="h-separator"></div>

					<div class="bottom-left">
						<video class="camera"></video>
					</div>

				</div>

				<div class="v-separator"></div>

				<!--RIGHT SIDE-->
				<div class="right">
					
					<div class="top-right">

						<div class="table-container">
							<table id="scroll-body" class="table table-dark table-striped">
								<thead>
									<tr class="title-tr">
										<th scope="col">#</th>
										<th scope="col">TAG/BUTTON</th>
										<th scope="col">X</th>
										<th scope="col">Y</th>
										<th scope="col">Z</th>
										<th scope="col">A</th>
										<th scope="col">B</th>
										<th scope="col">C</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th scope="row">1</th>
										<td class="element-title">Button 1</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
									</tr>
									<tr>
										<th scope="row">2</th>
										<td class="element-title">Button 2</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
									</tr>
									<tr>
										<th scope="row">3</th>
										<td class="element-title">Button 3</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
									</tr>
									<tr>
										<th scope="row">4</th>
										<td class="element-title">Button 4</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
									</tr>
									<tr>
										<th scope="row">5</th>
										<td class="element-title">Button 5</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
									</tr>
									<tr>
										<th scope="row">6</th>
										<td class="element-title">Button 6</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
									</tr>
									<tr>
										<th scope="row">7</th>
										<td class="element-title">Button 7</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
									</tr>
									<tr>
										<th scope="row">8</th>
										<td class="element-title">Button 8</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
									</tr>
									<tr>
										<th scope="row">9</th>
										<td class="element-title">Button 9</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
									</tr>
									<tr>
										<th scope="row">10</th>
										<td class="element-title">Button 10</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
									</tr>
									<tr>
										<th scope="row">11</th>
										<td class="element-title">Button 11</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
									</tr>
									<tr>
										<th scope="row">12</th>
										<td class="element-title">Button 12</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
									</tr>
									<tr>
										<th scope="row">13</th>
										<td class="element-title">Button 13</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
									</tr>
									<tr>
										<th scope="row">14</th>
										<td class="element-title">Button 14</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>

					<div class="h-separator"></div>

					<div class="bottom-right">

						<div class="joints">
							

							<div class="joint-data-pos">

								<div class="title-container">
									<p class="data-title"> Joint Velocities (m/s): </p>
								</div>

								<div class="container">
									<p id="joint1_vel" class="data"> 0 </p>
									<p class="data"> &#xA0; </p>
									<p id="joint2_vel" class="data"> 0 </p>
									<p class="data"> &#xA0; </p>
									<p id="joint3_vel" class="data"> 0 </p>
									<p class="data"> &#xA0; </p>
									<p id="joint4_vel" class="data"> 0 </p>
									<p class="data"> &#xA0; </p>
									<p id="joint5_vel" class="data"> 0 </p>
									<p class="data"> &#xA0; </p>
									<p id="joint6_vel" class="data"> 0 </p>
									<p class="data"> &#xA0; </p>
									<p id="joint7_vel" class="data"> 0 </p>
									<p class="data"> &#xA0; </p>
								</div>
							</div>

							<div class="joint-data-pos">

								<div class="title-container">
									<p class="data-title"> Distance to element: </p>
								</div>

								<div class="container">
									<p id="tof" class="data"> 0 </p>
									<p class="data"> &#xA0; m</p>
								</div>
							</div>

							<div class="joint-data-pos" style="display: grid;" >
								<div class="title-container">
									<p class="data-title"> Joint Positions (deg): </p>
								</div>
							
								<div class="container" style="display: grid; margin-left: 10px;">
									<div class="joint_slider" style="margin-bottom: 0px; display: flex;">
										<p class="data" style="margin-right: 10px; margin-bottom: 0px;">-549</p>
										<input id="joint1_slider" type="range" min="-549" max="549" value="0" style="width: 400px;">
										<p class="data" style="margin-left: 0px; margin-right: 10px; margin-bottom: 0px;">+549</p>
										<p id="joint1_coord" class="data" style="margin-right: 100px; margin-bottom: 0px;">0</p>
									</div>

									<div class="joint_slider" style="margin-bottom: 0px; display: flex;">
										<p class="data" style="margin-right: 10px; margin-bottom: 0px;">-219</p>
										<input id="joint2_slider" type="range" min="-219" max="137" value="0" style="width: 400px;">
										<p class="data" style="margin-left: 0px; margin-right: 10px; margin-bottom: 0px;">+137</p>
										<p id="joint2_coord" class="data" style="margin-right: 100px; margin-bottom: 0px;">0</p>
									</div>

									<div class="joint_slider" style="margin-bottom: 0px; display: flex;">
										<p class="data" style="margin-right: 10px; margin-bottom: 0px;">-87 </p>
										<input id="joint3_slider" type="range" min="-87" max="78" value="0" style="width: 400px;">
										<p class="data" style="margin-left: 0px; margin-right: 10px; margin-bottom: 0px;">+78</p>
										<p id="joint3_coord" class="data" style="margin-right: 100px; margin-bottom: 0px;">0</p>
									</div>

									<div class="joint_slider" style="margin-bottom: 0px; display: flex;">
										<p class="data" style="margin-right: 10px; margin-bottom: 0px;">-90      </p>
										<input id="joint4_slider" type="range" min="-90" max="90" value="0" style="width: 400px;">  
										<p class="data" style="margin-left: 0px; margin-right: 10px; margin-bottom: 0px;">+90 TODO</p>
										<p id="joint4_coord" class="data" style="margin-right: 100px; margin-bottom: 0px;">0</p>
									</div>

									<div class="joint_slider" style="margin-bottom: 0px; display: flex;">
										<p class="data" style="margin-right: 10px; margin-bottom: 0px;">-192</p>
										<input id="joint5_slider" type="range" min="-192" max="212" value="0" style="width: 400px;">
										<p class="data" style="margin-left: 0px; margin-right: 10px; margin-bottom: 0px;">+212</p>
										<p id="joint5_coord" class="data" style="margin-right: 100px; margin-bottom: 0px;">0</p>
									</div>

									<div class="joint_slider" style="margin-bottom: 0px; display: flex;">
										<p class="data" style="margin-right: 10px; margin-bottom: 0px;">-246</p>
										<input id="joint6_slider" type="range" min="-246" max="290" value="0" style="width: 400px;">
										<p class="data" style="margin-left: 0px; margin-right: 10px; margin-bottom: 0px;">+290</p>
										<p id="joint6_coord" class="data" style="margin-right: 100px; margin-bottom: 0px;">0</p>
									</div>

									<div class="joint_slider" style="margin-bottom: 0px; display: flex;">
										<p id="joint7_coord" class="data" style="margin-right: 100px; margin-bottom: 0px;">0</p>
									</div>
										
								</div>
							</div> 
						</div>


						<div class="user-input-container">
							<form class="input-form" action="" method="POST">{% csrf_token %}
								<div class="input-title-container">{% csrf_token %}
									<p class="input-title"></p>
									<!-- <input id="scan" class="set-button" type="submit" value="SCAN"> 
									I SUGGEST FOR NOW TO JUST HAVE THE OPTION TO SEND THE ID 0 TO SCAN AND NOT HAVE A SEPARATE BUTTON-->
								</div>

								<div class="button-dropdown-container">
									<p class="dropdown-title">ID</p>
									<select class="dropdown" id="dropdown_id">

										<option>0</option>

										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
									</select>

									<input id="set_id" class="set-button" type="submit" value="SET"> <!-- set-button -->
								</div>

							<!-- 
							<div class="input-container">{% csrf_token %}
								<input type="number" class="input" placeholder="X" name="x"/>
								<input type="number" class="input" placeholder="Y" name="y"/>
								<input type="number" class="input" placeholder="Z" name="z"/>
							</div>
							-->

							</form>

							<script>
								document.querySelector("#set_id").addEventListener("click", event => {
										event.preventDefault();
										
										/* sending goal coordinates to back-end*/
										let formData = new FormData();
										formData.append('id', document.querySelector("#dropdown_id").value);
						
										let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
										let request = new Request('set_id/', {method: 'POST',
																			body: formData,
																			headers: {"X-CSRFToken": csrfTokenValue}})
										fetch(request)
											.then(response => response.json())
											.then(result => {})
										})
							</script>

						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<script>

		const tabName = JSON.parse(document.getElementById('tab-name').textContent);
		const chatSocket = new WebSocket(
			'ws://'
			+ window.location.host
			+ '/ws/CS2022/'
			+ tabName
			+ '/'
		);

		chatSocket.onmessage = function (e) {

			const data = JSON.parse(e.data);

			/* display joint coordinates */
			let coordinates = document.querySelectorAll('#joint1_coord, #joint2_coord, #joint3_coord, #joint4_coord, #joint5_coord, #joint6_coord, #joint7_coord');
			let i = 0;
			coordinates.forEach(coord => {
				document.getElementById(coord.id).innerHTML = (Math.round((data.joint_pos[i] + Number.EPSILON) * 180 / Math.PI * 100) / 100);
				i += 1;
				
			})

			let sliders = document.querySelectorAll('#joint1_slider, #joint2_slider, #joint3_slider, #joint4_slider, #joint5_slider, #joint6_slider');
			let f = 0;
			sliders.forEach(slider => {
				document.getElementById(slider.id).value = (Math.round((data.joint_pos[f] + Number.EPSILON) * 180 / Math.PI * 100) / 100);
				f += 1;
			 })

			/* display ToF */
			document.getElementById('tof').innerHTML = Math.round((data.tof + Number.EPSILON) * 100) / 100000 //divide by 100000 to convert into meters


			let elements = document.querySelectorAll("td:not(.element-title)");
			let k = 0;
			elements.forEach(e => {
				e.innerHTML = data.detected_elems[k];
				//console.log(Math.round((data.detected_elems[k] + Number.EPSILON) * 100) / 100)
				
				k += 1;
			})

		};

		chatSocket.onclose = function (e) {
			console.log('Switched Tab');
		};


		/* WHEN SETTING A NEW ID */
		let dropdownList = document.getElementById('dropdown_id');
		//let setButton = document.getElementById('set')
		/*setButton.onclick = (v) => {
			console.log("Selected value is: " + dropdownList.value);
		}*/
		


	</script>
	<script src="{% static 'common/common.js' %}"></script>

</body>

</html>