{% extends "../base.html" %}
{% load static %}

{% comment %} Style Block {% endcomment %}
{% block page_style %} {% static 'homepage/homepage.css'%} {% endblock %}

{% block menu %}{{ block.super }}{% endblock %}

{% block body %}
{% endblock %}

{% block scripts_end %}
	<script>

		const tabName = JSON.parse(document.getElementById('tab-name').textContent);
		console.log(tabName)
		const chatSocket = new WebSocket(
			'ws://'
			+ window.location.host
			+ '/ws/CS2022/'
			+ tabName
			+ '/'
		);

		chatSocket.onmessage = function(e) {
			const data = JSON.parse(e.data);
			
			console.log("debug")


		};

		chatSocket.onclose = function(e) {
			console.error('Chat socket closed unexpectedly');
		};



	</script>
	<script src="{% static 'common/common.js' %}"></script>
{% endblock %}
