{% extends "../base.html" %}
{% load static %}

{% block page_style %}{% static 'logs/logs.css' %}{% endblock %}

{% block menu %}

	{% include '../components/rover_status.html' %}
	
{% endblock %}

{% block body %}
		
		<div id="right-side" class="box">
			{% include '../components/top_bar.html' %}
			
			<div id="page" class="page">
				<div class="top">
					<div class="top-left">
						<!--<div id="column-1" class="column">
			

							<div id="gyroscope-box" class="data-box">
								<div class="values-title-container">
									<p class="box-title">GYROSCOPE</p>
								</div>
								<div class="values-container">
									<data-line>
										<data-title>G1 : </data-title>
										<data>00.00</data>
									</data-line>
									<data-line>
										<data-title>G2 : </data-title>
										<data>00.00</data>
									</data-line>
									<data-line>
										<data-title>G3 : </data-title>
										<data>00.00</data>
									</data-line>
								</div>
							</div>
						</div>
						
						<div id="column-2" class="column">
							<div id="accelerometer-box" class="data-box">
								<div class="values-title-container">
									<p class="box-title">ACCELEROMETER</p>
								</div>
								<div class="values-container">
									<data-line>
										<data-title>A1 : </data-title>
										<data>00.00</data>
									</data-line>
									<data-line>
										<data-title>A2 : </data-title>
										<data>00.00</data>
									</data-line>
									<data-line>
										<data-title>A3 : </data-title>
										<data>00.00</data>
									</data-line>
								</div>
							</div>

						</div>
						
						<div id="column-3" class="column">
							<div id="current-box" class="data-box">
								<div class="values-title-container">
									<p class="box-title">CURRENTS</p>
								</div>
								<div class="values-container">
									<data-line>
										<data-title>name</data-title>
										<data>00.00</data>
									</data-line>
									<data-line>
										<data-title>name</data-title>
										<data>00.00</data>
									</data-line>
									<data-line>
										<data-title>name</data-title>
										<data>00.00</data>
									</data-line>
									<data-line>
										<data-title>name</data-title>
										<data>00.00</data>
									</data-line>
								</div>
							</div>

							<div id="voltage-box" class="data-box">
								<div class="values-title-container">
									<p class="box-title">VOLTAGES</p>
								</div>
								<div class="values-container">
									<data-line>
										<data-title>name</data-title>
										<data>00.00</data>
									</data-line>
									<data-line>
										<data-title>name</data-title>
										<data>00.00</data>
									</data-line>
									<data-line>
										<data-title>name</data-title>
										<data>00.00</data>
									</data-line>
									<data-line>
										<data-title>name</data-title>
										<data>00.00</data>
									</data-line>
								</div>
							</div>
						</div>-->
						<div class="dialog-box">
							<textarea id="dialog" readonly name="dialog" rows="30" cols="70" style="color:rgba(0,0,0,0.8)">AHHHHHHHHHHH</textarea>
						</div>
					</div>

					<div class="v-separator"></div>

					<div class="top-right">
						

						<div class="h-separator"></div>
						<div class="circle-led-container">
							
				  	</div>
				</div>
			</div>

			<div class="h-separator"></div>

			<div class="bottom">
				
			</div>
  		</div>
  	</div>
  	
{% endblock %}

{% block scripts_end %}
  <script>

	const tabName = JSON.parse(document.getElementById('tab-name').textContent);
	const chatSocket = new WebSocket(
	 	'ws://'
	 	+ window.location.host
	 	+ '/ws/CS2022/'
	 	+ tabName
	 	+ '/'
	);
	

	chatSocket.onmessage = function(e) {
	 	const data = JSON.parse(e.data);
		console.log(data)
	 	//console.log("debug")

		document.getElementById("dialog").value = data.exceptions.join("\n - ")


	};

	// chatSocket.onclose = function(e) {
	// 	console.log('Switched Tab');
	// };

	// // -----------------------------------------------------------------------------
	// // TimeSocket
	const timeSocket = new WebSocket(
		'ws://'
		+ window.location.host
		+ '/ws/CS2022/'
		+ 'time'
		+ '/'
	);

	timeSocket.onmessage = function(e) {
		const data = JSON.parse(e.data);
		
		console.log("debug timer");
		var time = `${data.hor} : ${data.min} : ${data.sec}`;
		document.getElementById('elapsed').innerHTML    = time;

	};

	

</script>
<script>


	var test = JSON.parse(document.getElementById('state').textContent);

	if (test == "Idle"){
		var elem = document.getElementById('idle-state');
		elem.style.opacity = 1;
	}else if(test == "Navigation"){
		var elem = document.getElementById('navigation-state');
		elem.style.opacity = 1;
	}else if(test == "Maintenance"){
		var elem = document.getElementById('hd-state');
		console.log(0)
		elem.style.opacity = 1;
	}else if(test == "Waiting"){
		var elem = document.getElementById('waiting-state');
		elem.style.opacity = 1;
	}else if(test == "Manual"){
		var elem = document.getElementById('manual-state');
		elem.style.opacity = 1;
	}
	else if(test == "Science"){
		var elem = document.getElementById('science-state');
		elem.style.opacity = 1;
	}
</script>

{% endblock %}
