{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CS2022</title>
  
	<!-- STYLE -->
	<link href="{% static 'common/border.css' %}" rel="stylesheet">
	<link href="{% static 'manualcontrol/manualcontrol.css' %}" rel="stylesheet">
	<link href="{% static 'common/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

	<!-- SCRIPT -->
	<script src="{% static 'common/border.js' %}"></script> 
	<script src="{% static 'manualcontrol/manualcontrol.js' %}"></script> 
	<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
	
	<script>
		$(document).ready(function() {
    		$(document).on('submit', '#launch-form', function() {
				window.location.href ="/CS2022/manualcontrol/launch";
      			return false;
    		 });
    		$(document).on('submit', '#wait-form', function() {
				window.location.href ="/CS2022/manualcontrol/wait";
      			return false;
    		 });
    		$(document).on('submit', '#abort-form', function() {
				window.location.href ="/CS2022/manualcontrol/abort";
      			return false;
    		 });
    		$(document).on('submit', '#resume-form', function() {
				window.location.href ="/CS2022/manualcontrol/resume";
      			return false;
    		 });
    		$(document).on('submit', '#direct-form', function() {
      			return false;
    		 });
    		$(document).on('submit', '#inverse-form', function() {
      			return false;
    		 });
		});
	</script>
	
	<!-- ICON -->
	<link rel="icon" type="image/x-icon" href="{% static 'common/Xplore-icon.ico' %}">
</head>

<body>
	{{ tab_name|json_script:"tab-name" }}
	{{ current_state|json_script:"state"  }}
	{{ v_name|json_script:"v_name"  }}

	<div id="container">
		<div id="sidebar" class="box">
			<div class="logo">
				<form class="logo-form" action="http://127.0.0.1:8000/CS2022/homepage">
					<input id="imagelogo" type="image" src="{% static 'common/Xplore-logo-white.png' %}" alt="My image">
				</form>
			</div>
		
			<div class="page-button-container">
				<form action="http://127.0.0.1:8000/CS2022/navigation">
					<button id="navigation" class="page-button">
						<span>NAVIGATION</span>
					</button>
				</form>
					
				<form action="http://127.0.0.1:8000/CS2022/handlingdevice">
					<button id="handlingdevice" class="page-button">
						<span>HANDLING DEVICE</span>
					</button>
				</form>
				
				<form action="http://127.0.0.1:8000/CS2022/science">
					<button id="science" class="page-button">
						<span>SCIENCE</span>
					</button>
				</form>
			
				<form action="http://127.0.0.1:8000/CS2022/manualcontrol">
					<button id="manualcontrol" class="current-page-button" disabled="true">
						<span>MANUAL CONTROL</span>
					</button>
				</form>
				
				<form action="http://127.0.0.1:8000/CS2022/logs">
					<button id="logs" class="page-button">
						<span>LOGS</span>
					</button>
				</form>
				<div>
					<p style="color: white; margin-top: 15px; font-weight: bold;">ELAPSED TIME</p>
					<p id="elapsed" style="color: white; margin-bottom: 10px; ">00 : 00 : 00</p>

					<img src="{% static 'common/ok.png' %}" alt="" width="48" height="48" style="margin-top: 10px; margin-right: 10px; opacity: 1;">
					<img src="{% static 'common/warning.png' %}" alt="" width="40" height="40" style="margin-top: 10px; opacity: 0.2;">
					<img src="{% static 'common/error.png' %}" alt="" width="42" height="42" style="margin-top: 10px; opacity: 0.2; margin-left:15px;">


				</div>
			</div>
		
			<div class="square-state-button-box" style="margin-top: 780px;">

				<div class="state-button-container">
					<form  class="state-button-form" method="POST">
						{% csrf_token %}
						<input id="launch-button" class="state-button" type="submit" value="LAUNCH">
						
					</form>
				</div>
				
				<div class="state-button-container">
					<form  class="state-button-form" method="POST">
						{% csrf_token %}
						<input id="wait-button" class="state-button" type="submit" value="WAIT">
						
					</form>
				</div>
				
				<div class="state-button-container">
					<form  class="state-button-form" method="POST">
						{% csrf_token %}
						<input id="abort-button" class="state-button" type="submit" value="ABORT">
						
					</form>
				</div>


				<div class="state-button-container">
					<form  class="state-button-form" method="POST">
						{% csrf_token %}
						<input id="resume-button" class="state-button" type="submit" value="RESUME">
						
					</form>
				</div>
				<script>
				
					document.querySelector("#launch-button").addEventListener("click", event => {
						event.preventDefault();
		
						var elem1 = document.getElementById('navigation-state');
						var elem2 = document.getElementById('idle-state');
						var elem3 = document.getElementById('hd-state');
						var elem4 = document.getElementById('manual-state');
						var elem5 = document.getElementById('waiting-state');

						elem1.style.opacity = 0.2;
						elem2.style.opacity = 0.2;
						elem3.style.opacity = 0.2;
						elem4.style.opacity = 1;
						elem5.style.opacity = 0.2;
		
		
						let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
						let request = new Request("launch/", {method: 'POST',
															body: '',
															headers: {"X-CSRFToken": csrfTokenValue}})
						fetch(request)
							.then(response => response.json())
							.then(result => {})
					})
		
					
				</script>

			</div>

			

			
		</div>
		
		<div id="right-side" class="box">

			<div class="top-bar">
				<label id="idle-state" class="neon-label">IDLE</label>
				<label id="navigation-state" class="neon-label">NAVIGATION</label>
				<label id="hd-state" class="neon-label">HANDLING DEVICE</label>
				<label id="science-state" class="neon-label">SCIENCE</label>
				<label id="manual-state" class="neon-label">MANUAL CONTROL</label>
				<label id="waiting-state" class="neon-label">WAITING</label>		
			</div>
			
			<div id="page" class="page">
					
				<div class="left">
					<div class="top-left">
					
						<img id="camera_1" src="{% static 'common/logothumbnail.png' %}" height="100%" width="100%">
						<p id="envmap-title">CAMERA 1</p>
						
					</div>

					<div class="h-separator"></div>

					<div class="bottom-left">
					
						<img id="camera_2" src="{% static 'common/logothumbnail.png' %}" height="100%" width="100%">
						<p id="envmap-title">CAMERA 2</p>

					</div>

				</div>

				<div class="v-separator"></div>

				<div class="right">
			
					<div class="settings-container">
						<div class="settings-top-bar">
							<div class="currentpos-container">
								<div class="pos-title-c">
									<p class="pos-title">CURRENT POSITION:</p>
								</div>
								<div class="pos-coord">
									<div class="coord-c">
										<p class="coord-type">X</p>
										<p id="X_coord" class="coordinate">0.00</p>
									</div>
									<div class="coord-c">
										<p class="coord-type">Y</p>
										<p id="Y_coord" class="coordinate">0.00</p>
									</div>
									<div class="coord-c">
										<p class="coord-type">Z</p>
										<p class="coordinate">0.00</p>
									</div>
								</div>
							</div>
							<div class="velocity-container">
								<div class="velocity-title-c">
									<p class="velocity-title">VELOCITY:</p>
								</div>
								<div class="velocity-type-container">
									<div class="velocity-type-c">
										<p class="velocity-type">Linear:</p>
										<p id="linVel" class="velocity">0.00</p>
									</div>
									<div class="velocity-type-c">
										<p class="velocity-type">Angular:</p>
										<p id="angVel" class="velocity">0.00</p>
									</div>
								</div>
							</div>
						</div>

						<div class="settings-bottom">

							<div class="joint-data-pos" style="display: grid;">

								<div class="title-container">
									<p class="data-title"> Joint Velocities (m/s): </p>
								</div>

								<div class="container" >
									<p id="joint1_vel" class="data" style="float: left;"> 0 </p>
									<p class="data"> &#xA0; </p>
									<p id="joint2_vel" class="data" style="float: left;"> 0 </p>
									<p class="data"> &#xA0; </p>
									<p id="joint3_vel" class="data" style="float: left;"> 0 </p>
									<p class="data"> &#xA0; </p>
									<p id="joint4_vel" class="data" style="float: left;"> 0 </p>
									<p class="data"> &#xA0; </p>
									<p id="joint5_vel" class="data" style="float: left;"> 0 </p>
									<p class="data"> &#xA0; </p>
									<p id="joint6_vel" class="data" style="float: left;"> 0 </p>
									<p class="data"> &#xA0; </p>
									<p id="joint7_vel" class="data" style="float: left;"> 0 </p>
									<p class="data"> &#xA0; </p>
								</div>
							</div>

							<div class="joint-data-pos" style="display: grid;" >
								<div class="title-container">
									<p class="data-title"> Joint Positions (deg): </p>
								</div>
							
								<div class="container" style="display: grid; margin-left: 50px;">
										<div class="joint_slider" style="margin-bottom: 0px; display: flex;">
											<p id="joint1_coord" class="data" style="margin-right: 100px; margin-bottom: 0px;">0</p>
											<p class="data" style="margin-right: 10px; margin-bottom: 0px;">0</p>
											<input id="joint1_slider" type="range" min="0" max="100" value="50" style="width: 400px;">
											<p class="data" style="margin-left: 0px; margin-right: 10px; margin-bottom: 0px;">100</p>
										</div>

										<div class="joint_slider" style="margin-bottom: 0px; display: flex;">
											<p id="joint2_coord" class="data" style="margin-right: 100px; margin-bottom: 0px;">0</p>
											<p class="data" style="margin-right: 10px; margin-bottom: 0px;">0</p>
											<input id="joint2_slider" type="range" min="0" max="100" value="50" style="width: 400px;">
											<p class="data" style="margin-left: 0px; margin-right: 10px; margin-bottom: 0px;">100</p>
										</div>

										<div class="joint_slider" style="margin-bottom: 0px; display: flex;">
											<p id="joint3_coord" class="data" style="margin-right: 100px; margin-bottom: 0px;">0</p>
											<p class="data" style="margin-right: 10px; margin-bottom: 0px;">0</p>
											<input id="joint3_slider" type="range" min="0" max="100" value="50" style="width: 400px;">
											<p class="data" style="margin-left: 0px; margin-right: 10px; margin-bottom: 0px;">100</p>
										</div>

										<div class="joint_slider" style="margin-bottom: 0px; display: flex;">
											<p id="joint4_coord" class="data" style="margin-right: 100px; margin-bottom: 0px;">0</p>
											<p class="data" style="margin-right: 10px; margin-bottom: 0px;">0</p>
											<input id="joint4_slider" type="range" min="0" max="100" value="50" style="width: 400px;">
											<p class="data" style="margin-left: 0px; margin-right: 10px; margin-bottom: 0px;">100</p>
										</div>

										<div class="joint_slider" style="margin-bottom: 0px; display: flex;">
											<p id="joint5_coord" class="data" style="margin-right: 100px; margin-bottom: 0px;">0</p>
											<p class="data" style="margin-right: 10px; margin-bottom: 0px;">0</p>
											<input id="joint5_slider" type="range" min="0" max="100" value="50" style="width: 400px;">
											<p class="data" style="margin-left: 0px; margin-right: 10px; margin-bottom: 0px;">100</p>
										</div>

										<div class="joint_slider" style="margin-bottom: 0px; display: flex;">
											<p id="joint6_coord" class="data" style="margin-right: 100px; margin-bottom: 0px;">0</p>
											<p class="data" style="margin-right: 10px; margin-bottom: 0px;">0</p>
											<input id="joint6_slider" type="range" min="0" max="100" value="50" style="width: 400px;">
											<p class="data" style="margin-left: 0px; margin-right: 10px; margin-bottom: 0px;">100</p>
										</div>

										<div class="joint_slider" style="margin-bottom: 0px; display: flex;">
											<p id="joint7_coord" class="data" style="margin-right: 100px; margin-bottom: 0px;">0</p>
											<p class="data" style="margin-right: 10px; margin-bottom: 0px;">0</p>
											<input id="joint7_slider" type="range" min="0" max="100" value="50" style="width: 400px;">
											<p class="data" style="margin-left: 0px; margin-right: 10px; margin-bottom: 0px;">100</p>
										</div>
										
								</div>
							</div> 

							<!-- <div id="interactive_box" class="settings">
								<div id="direct_box" class="settings_box">
									<div class="settings-title-box">
										<p class="settings-title">ENCODERS DATA:</p>
									</div>
									<div class="encoders">
										<ul class="joints" >
											<li id="joint1_coord">e1: </li>
											<li id="joint2_coord">e2: </li>
											<li id="joint3_coord">e3: </li>
											<li id="joint4_coord">e4: </li>
											<li id="joint5_coord">e5: </li>
											<li id="joint6_coord">e6: </li>
											<li id="joint7_coord">e7: </li>
										</ul>

										<ul class="joints" >
											<li id="joint1_vel">e1: </li>
											<li id="joint2_vel">e2: </li>
											<li id="joint3_vel">e3: </li>
											<li id="joint4_vel">e4: </li>
											<li id="joint5_vel">e5: </li>
											<li id="joint6_vel">e6: </li>
											<li id="joint7_vel">e7: </li>
										</ul>
									</div>
								</div>
							</div> -->
							<div class="state-button-container"; style="display: -webkit-box;">
								<form  class="state-button-form" method="POST" style="width: 250px; height:30px;">
									{% csrf_token %}
									<input  id="capture_image" class="state-button" type="submit" value="CAPTURE IMAGES">
									
								</form>
								<p id="mode-title" style="color: white; padding-left: 10px;">HD Mode : </p>
								<p id="hd_man_mode" style="color: white;">DIR</p>
								<div class="mode-container" style="float:left;">
									
								</div>
							</div>
							
							<script>

							document.getElementById('camera_1').setAttribute( 'src', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg==' );

							// ==============================================================================================================================================================
									
				
							// ==============================================================================================================================================================

							
							
						</script>
						
					</div>
					<div class="row">
						<div class="column">
							
						  <img id="camera_12"src="{% static 'common/logothumbnail.png' %}" width="45%">
						  <img id="camera_22"src="{% static 'common/logothumbnail.png' %}" width="45%">
						  <img id="camera_3"src="{% static 'common/logothumbnail.png' %}"  width="45%">
						  <img id="camera_4"src="{% static 'common/logothumbnail.png' %}"  width="45%">
						  <img id="camera_5"src="{% static 'common/logothumbnail.png' %}"  width="45%">

						</div>
						<div class="column">
						  <img id="camera_6" src="{% static 'common/logothumbnail.png' %}" width="45%">
						  <img id="camera_7" src="{% static 'common/logothumbnail.png' %}" width="45%"> 
						  <img id="camera_8" src="{% static 'common/logothumbnail.png' %}" width="45%"> 
						  <img id="camera_9" src="{% static 'common/logothumbnail.png' %}" width="45%"> 
						  <img id="camera_10" src="{% static 'common/logothumbnail.png' %}" width="45%"> 
	
						</div>
						<script>
							document.querySelector('#camera_3').onclick = function() {

							

								var src1 = document.querySelector("#camera_1").src
								document.querySelector("#camera_1").src = document.querySelector("#camera_3").src
								document.querySelector("#camera_3").src = src1

							}		
						</script>
						
					  </div>
					
				</div>
				</div>
				<!-- cameras grid -->
				
		</div>
	</div>
	<!-- =================================================================================================================== -->
	<script>

		const tabName = JSON.parse(document.getElementById('tab-name').textContent);

		// ----------------------------------------------------------------------
		// Data
		const chatSocket = new WebSocket(
			'ws://'
			+ window.location.host
			+ '/ws/CS2022/'
			+ tabName
			+ '/'
		);
	
		chatSocket.onmessage = function(e) {
			const data = JSON.parse(e.data);
			
			console.log("debug")
	
			document.getElementById('X_coord').innerHTML    = Math.round((data.x + Number.EPSILON)        * 100) / 100
			document.getElementById('Y_coord').innerHTML    = Math.round((data.y + Number.EPSILON)        * 100) / 100
			document.getElementById('linVel').innerHTML     = Math.round((data.linVel + Number.EPSILON)   * 100) / 100
			document.getElementById('angVel').innerHTML     = Math.round((data.angVel + Number.EPSILON)   * 100) / 100

			console.log(data.hd_mode)
			document.getElementById('hd_man_mode').innerHTML = data.hd_mode

			/* display joint velocities */
			let velocities = document.querySelectorAll('#joint1_vel, #joint2_vel, #joint3_vel, #joint4_vel, #joint5_vel, #joint6_vel, #joint7_vel');
			let j = 0;
			velocities.forEach(vel => {
				document.getElementById(vel.id).innerHTML = Math.round((data.joint_vel[j] + Number.EPSILON) * 100) / 100;
				j += 1;
			})

			/* display joint coordinates */
			let coordinates = document.querySelectorAll('#joint1_coord, #joint2_coord, #joint3_coord, #joint4_coord, #joint5_coord, #joint6_coord, #joint7_coord');
			let i = 0;
			coordinates.forEach(coord => {
				document.getElementById(coord.id).innerHTML = (Math.round((data.joint_pos[i] + Number.EPSILON) * 180 / Math.PI * 100) / 100);
				i += 1;
				
			})

			let sliders = document.querySelectorAll('#joint1_slider, #joint2_slider, #joint3_slider, #joint4_slider, #joint5_slider, #joint6_slider, #joint7_slider');
			let f = 0;
			sliders.forEach(slider => {
				document.getElementById(slider.id).value = (Math.round((data.joint_pos[f] + Number.EPSILON) * 180 / Math.PI * 100) / 100) * 180 / Math.PI;
				f += 1;
			 })
	
		};
	
		chatSocket.onclose = function(e) {
			console.log('Switched Tab');
		};

		// --------------------------------------------------------------------------
		// Cameras
		let ws1 = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/cameras/video1'
            + '/'
        );

		// let ws2 = new WebSocket(
        //     'ws://'
        //     + window.location.host
        //     + '/ws/cameras/video2'
        //     + '/'
        // );

        ws.onmessage = function(evt) {
            v_data = JSON.parse(evt.data);
            $("#camera_1").attr("src", v_data.message);
			// $("#camera_2").attr("src", v_data.message);
			// // $("#camera_3").attr("src", v_data.message);
			// $("#camera_4").attr("src", v_data.message);
			// $("#camera_5").attr("src", v_data.message);
			// $("#camera_6").attr("src", v_data.message);
			// $("#camera_7").attr("src", v_data.message);
			// $("#camera_8").attr("src", v_data.message);
			// $("#camera_9").attr("src", v_data.message);
			// $("#camera_10").attr("src", v_data.message);
			// $("#camera_12").attr("src", v_data.message);
			// $("#camera_22").attr("src", v_data.message);

            
        };

        ws.onclose = function(evt) {
            console.log("Connection closed.");
        };
	
		const timeSocket = new WebSocket(
		'ws://'
		+ window.location.host
		+ '/ws/CS2022/'
		+ 'time'
		+ '/'
		);

		timeSocket.onmessage = function(e) {
			const data = JSON.parse(e.data);
			
			console.log("debug timer");
			var time = `${data.hor} : ${data.min} : ${data.sec}`;
			document.getElementById('elapsed').innerHTML    = time;

		};
	</script>
	<script src="{% static 'common/common.js' %}"></script>

	<!-- ================================================================================================================= -->
</body>

</html>
