{% load static %}
<!DOCTYPE html>

<html lang="en">
	<!-- HEADER -->
	<head>
		<meta charset="UTF-8">
		<title>CS2022</title>

		<!-- -------------------------------------------------------------------------------------------- -->
		<!-- STYLE -->
		<link href="{% static 'common/border.css' %}" rel="stylesheet">
		<link href="{% static 'navigation/navigation.css' %}" rel="stylesheet">
		<link href="{% static 'common/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
		<!-- <link rel="stylesheet" href="{% static 'navigation/Main.css' %}""> -->
		<!-- --------------------------------------------------------------------------------------------- -->
		<!-- SCRIPT -->
		<script src="{% static 'common/border.js' %}"></script> 
		<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
		<!-- <script src="{% static 'common/common.js' %}"></script> -->
			
	</head>
	<!-- BODY -->
	<body>


		{{ tab_name|json_script:"tab-name" }}
		{{ current_state|json_script:"state"  }}


		<div id="container">
		<!-- vertical navbar -->
			<div id="sidebar" class="box">
				<div class="logo">
					<form class="logo-form" action="http://127.0.0.1:8000/CS2022/homepage">
						<input id="imagelogo" type="image" src="{% static 'common/Xplore-logo-white.png' %}" alt="My image">
					</form>
				</div>
			
				<div class="page-button-container">
					<form action="http://127.0.0.1:8000/CS2022/navigation">
						<button id="navigation" class="current-page-button" disabled="true">
							<span>NAVIGATION</span>
						</button>
					</form>
						
					<form action="http://127.0.0.1:8000/CS2022/handlingdevice">
						<button id="handlingdevice" class="page-button">
							<span>HANDLING DEVICE</span>
						</button>
					</form>
					
					<form action="http://127.0.0.1:8000/CS2022/science">
						<button id="science" class="page-button">
							<span>SCIENCE</span>
						</button>
					</form>
					
					<form action="http://127.0.0.1:8000/CS2022/manualcontrol">
						<button id="manualcontrol" class="page-button">
							<span>MANUAL CONTROL</span>
						</button>
					</form>
					
					<form action="http://127.0.0.1:8000/CS2022/avionics">
						<button id="avionics" class="page-button">
							<span>AVIONICS</span>
						</button>
					</form>

					<div>
						<p style="color: white; margin-top: 15px; font-weight: bold;">ELAPSED TIME</p>
						<p style="color: white; margin-bottom: 10px; ">00 : 00 : 00</p>



						<img src="{% static 'common/ok.png' %}" alt="" width="48" height="48" style="margin-top: 10px; margin-right: 10px; opacity: 1;">
						<img src="{% static 'common/warning.png' %}" alt="" width="40" height="40" style="margin-top: 10px; opacity: 0.2;">
						<img src="{% static 'common/error.png' %}" alt="" width="42" height="42" style="margin-top: 10px; opacity: 0.2; margin-left:15px;">

						
					</div>
				</div>
				
				<div class="square-state-button-box" style="margin-top: 780px;">
					
					<div class="state-button-container">
						<form  class="state-button-form" method="POST">
							{% csrf_token %}
							<input id="launch-button" class="state-button" type="submit" value="LAUNCH">
							
						</form>
					</div>
					
					<div class="state-button-container">
						<form  class="state-button-form" method="POST">
							{% csrf_token %}
							<input id="wait-button" class="state-button" type="submit" value="WAIT">
							
						</form>
					</div>
					
					<div class="state-button-container">
						<form  class="state-button-form" method="POST">
							{% csrf_token %}
							<input id="abort-button" class="state-button" type="submit" value="ABORT">
							
						</form>
					</div>


					<div class="state-button-container">
						<form  class="state-button-form" method="POST">
							{% csrf_token %}
							<input id="resume-button" class="state-button" type="submit" value="RESUME">
							
						</form>
					</div>
					<script>
				
						document.querySelector("#launch-button").addEventListener("click", event => {
							event.preventDefault();
			
							var elem1 = document.getElementById('navigation-state');
							var elem2 = document.getElementById('idle-state');
							var elem3 = document.getElementById('hd-state');
							var elem4 = document.getElementById('manual-state');
							var elem5 = document.getElementById('waiting-state');

							elem1.style.opacity = 1;
							elem2.style.opacity = 0.2;
							elem3.style.opacity = 0.2;
							elem4.style.opacity = 0.2;
							elem5.style.opacity = 0.2;
			
			
							let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
							let request = new Request('launch/', {method: 'POST',
																body: '',
																headers: {"X-CSRFToken": csrfTokenValue}})
							fetch(request)
								.then(response => response.json())
								.then(result => {})
						})

			
						
					</script>
				</div>
			</div>
			
			<!-- horizontal navbar -->
			<div id="right-side" class="box">
				<div class="top-bar">
					<label id="idle-state" class="neon-label">IDLE</label>
					<label id="navigation-state" class="neon-label">NAVIGATION</label>
					<label id="hd-state" class="neon-label">HANDLING DEVICE</label>
					<label id="science-state" class="neon-label">SCIENCE</label>
					<label id="manual-state" class="neon-label">MANUAL CONTROL</label>
					<label id="waiting-state" class="neon-label">WAITING</label>		
				</div>
				
				<div id="page" class="page">
					<!--LEFT SIDE-->
					<div class="left">
						<div class="top-left">
						
						</div>
						
						
					</div>

				<!--RIGHT SIDE-->
				<div class="v-separator">
				</div>

				<div class="right">
					<div class="top-right">
						<div class="left-panel">
							<div class="subject-container">
								<div class="title-container">
									<p class="title">CURRENT POSITION</p>
								</div>
								<div class="data-container">
									<!-- ROVER X COORDINATE -->
									<div class="data-line-container">
										<p class="data-title">X : </p>
										<p id="X_coord" class="data"> 0 </p>
										<p class="data"> &#xA0; m </p>
									</div>
									<!-- ROVER Y COORDINATE -->
									<div class="data-line-container">
										<p class="data-title">Y : </p>
										<p id="Y_coord" class="data"> 0 </p>
										<p class="data"> &#xA0; m </p>
									</div>

								</div>
							</div>
							
							<div class="subject-container">
								<div class="title-container">
									<p class="title">GOAL POSITION</p>
								</div>
								<div class="data-container">
									<!-- GOAL'S Y COORDINATE -->
									<div class="data-line-container">
										<p class="data-title">X : </p>
										<p class="data">0</p>
									</div>
									<!-- GOAL'S X COORDINATE -->
									<div class="data-line-container">
										<p class="data-title">Y : </p>
										<p class="data">0</p>
									</div>

								</div>
							</div>
						</div>
						<div class="right-panel">
							<div class="subject-container">
								<div class="title-container">
									<p class="title">COURSE DATA</p>
								</div>
								<div class="data-container">
									<!-- DISTANCE TO GOAL -->
									<div class="data-line-container">
										<p class="data-title">Distance to goal: </p>
										<p id="distToGoal" class="data"> 0 </p>
										<p class="data"> &#xA0; m </p>
									</div>
									<!-- ROUTE TO GOAL -->
									<div class="data-line-container">
										<p id="debug-label" class="data-title">Route to goal: </p>
										<p class="data"> 0 </p>
										<p class="data"> &#xA0; m </p>
									</div>
									
								</div>
								<div class="title-container">
									<p class="title">VELOCITY</p>
								</div>
								<div class="data-container">
									<!-- LINEAR VELOCITY -->
									<div class="data-line-container">
										<p class="data-title">Linear: </p>
										<p id="linVel" class="data">0</p>
										<p class="data"> &#xA0; m/s </p>
									</div>
									<!-- ANGULAR VELOCITY -->
									<div class="data-line-container">
										<p class="data-title">Angular: </p>
										<p id="angVel" class="data">0</p> 
										<p class = "data"> &#xA0; rad/s</p>
									</div>

									</div>
								</div>
							</div>
							
						</div>

						<div class="h-separator-s">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ========================================================================================================= -->
		<script>
			
			// -----------------------------------------------------------------------------
			// DataSocket
			const tabName = JSON.parse(document.getElementById('tab-name').textContent);
			const chatSocket = new WebSocket(
				'ws://'
				+ window.location.host
				+ '/ws/CS2022/'
				+ tabName
				+ '/'
			);

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
			// console.log(data)
			//document.getElementById('debug-label').innerHTML = data.Debug2
			document.getElementById('X_coord').innerHTML    = Math.round((data.x + Number.EPSILON)        * 100) / 100
			document.getElementById('Y_coord').innerHTML    = Math.round((data.y + Number.EPSILON)        * 100) / 100
			document.getElementById('linVel').innerHTML     = Math.round((data.linVel + Number.EPSILON)   * 100) / 100
			document.getElementById('angVel').innerHTML     = Math.round((data.angVel + Number.EPSILON)   * 100) / 100
			document.getElementById('distToGoal').innerHTML = Math.round((data.distance + Number.EPSILON) * 100) / 100
			


			};

			chatSocket.onclose = function(e) {
				console.log('Switched Tab');
			};

			// -----------------------------------------------------------------------------
			// TimeSocket
			const timeSocket = new WebSocket(
				'ws://'
				+ window.location.host
				+ '/ws/CS2022/'
				+ 'time'
				+ '/'
			);



		</script>
		<script src="{% static 'common/common.js' %}"></script>
	</body>
</html>
