:root{
    --navigation-background-color : #202020;
    --logo-height : 45px;
    --font : 'Bahnschrift', sans-serif;

}

html, body {
    margin:0px;
    height:100%;
  }

/* ================================================================= */
/* HEADER BAR */
#body{
    min-width: 600px;
    font-family: var(--font);
    background-color: #363636;
}
#navigation{
    background-color: var(--navigation-background-color);
    position: fixed;
    width: 100%;
    border-bottom: 2px solid #305CD4;
}

#logo{
    height : var(--logo-height);
    margin-left  : 8px;
    padding-bottom: 4px;
    margin-bottom: 5px;
}

#status{
    font-size: 15px;
    margin-top: 15px;
    font-weight:bolder;
    margin-right: 200px;
}

.nav-item{
    margin-left: 20px ;
    border-left: solid 6px transparent;
    padding-left: 6px;

}




.nav-item.bluebar {
  border-left-color: #305CD4;
  padding-left: 26px;
  margin-left: 0px;
  
}

a:active{
      border-left-color: #305CD4;
}


ul {
        overflow-y: 'hidden'
     }
     ul:hover {
         overflow-y: 'auto'
     }


a.nav-link{
    float: left;
    text-decoration: none;
    color: inherit;
}



#title{
    margin: 15px;
    font-weight: bolder;
    font-size: 35px;
    transition: 0.4s;
    color: white;
}

.content{
    padding-left: 225px;
    padding-top:70px;
    width:100%;
    color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:white;
    opacity: 0.65; /* Firefox */
  }





   /* Hide short text by default (resolution > 1200px) */
.short-text { display: none; }

/* // When resolution <= 1200px, hide full text and show short text */
@media screen and (max-width: 1200px) {
    .short-text { display: inline-block; }
    .full-text { display: none; }
}

#vertical-nav{
    background-color: var(--navigation-background-color);
    margin-top: 60px;
    height:100%;
    width:220px;
    top: 0;
    position:fixed;
    color:white;
}


.FSMButton{
    width: 65px;
    height: 65px;
    font-size: 10px;
    color: white;
    background-color: #202020;
    border-radius: 10px;
}

/* avionics data in tabs========================= */
.battery:after {
    background-color: #fff;
    border: 2px solid #000;
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    right: -6px;
    top: 4px;
    width: 6px;
}
.battery {
    background-color: #fff;
    border: 2px solid #000;
    height: 20px;
    margin-left: 15px;
    margin-top: 15px;
    margin-right: auto;
    position: relative;
    width: 50px;
}

.battery .battery-level {
    background-color: #666;
    height: 100%;
}

.battery .battery-level.high {
    background-color: #66CD00;
}
.battery .battery-level.medium {
    background-color: #FCD116;
}
.battery .battery-level.low {
    background-color: #FF3333;
}
.battery .battery-level {
    text-align: center;
}
/* ============================================== */
/* cameras======================================= */

#videoElement_1 {
	width: 600px;
	height: 325px;
	background-color: #666;
    float: left;
    margin-left: 10px;
}
#videoElement_2 {
	width: 600px;
	height: 325px;
	background-color: #666;
    margin-left: 20px;
}