:root{
    --data-color: yellow;
}

/*=====================================================
                CONTAINERS
=====================================================*/
.top{
    height: 58.9%;
    width: 100%;
}

.bottom{
    height: 48.9%;
    width: 100%;
}

.top-left{
    float: left;
    width: 59.9%;
    height: 100%;
}

.top-right{
    float: left;
    width: 38.9%;
    height: 100%;
}

.circle-led-container{
    width: 10%;
    height: 10%;
}

.log-box{
    width: 100%;
    height: 89%;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.controller-container{
    height: 100%;
    width: 50%;
    margin-left: 25%;
    padding-top: 2%;
}

.log-title-container{
    width: 100%;
    height: 10%;
    padding-top: 2%;
    background-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.log-container{
    width: 100%;
    height: 90%;
    color: black;
}

.column{
    float: left;
    width: 33.3%;
    height: 100%;
}

.data-box{
    padding-top: 5%;
    padding-left: 10%;
}

/*=====================================================
                Simple data
=====================================================*/
.simple-title-c{
    float: left;
    width: 60%;
    height: 100%;
}

.simple-title-data-c{
    float: left;
    width: 35%;
    height: 100%;
}

/*=====================================================
                Widget data
=====================================================*/
.widget-title-container{
    width: 100%;
    height: 50%;
}

.widget-title-c{
    float: left;
    width: 60%;
    height: 100%;
}

.widget-title-data-c{
    float: left;
    width: 40%;
    height: 100%;
}

/*=====================================================
                Values data
=====================================================*/
.values-title-container{
    width: 100%;
    height: 15%;
}

.values-container{
    width: 100%;
    height: 85%;
}

data-line{
    display: inline-block;
    width: 75%;
    padding-left: 25%;
    height: 20%;
}

/*=====================================================
                Boxes
=====================================================*/
#battery-box{
    width: 100%;
    height: 13%;
}

#temperature-box{
    width: 100%;
    height: 13%;
}

#pressure-box{
    width: 100%;
    height: 8%;
}

#gyroscope-box{
    width: 100%;
    height: 50%;
    margin-top: 29%;
}

#accelerometer-box{
    width: 100%;
    height: 50%;
}

#magnometer-box{
    width: 100%;
    height: 50%;
}

#current-box{
    width: 100%;
    height: 50%;
}

#voltage-box{
    width: 100%;
    height: 50%;
}

/*=====================================================
                P
=====================================================*/
.log-title{
    color: white;
    font-family: var(--font);
    font-size: 20px;
    padding-left: 5%;
}

.box-title{
    color: white;
    font-size: 15px;
    text-align: left;
}

.float{
    float: left;
    color: var(--data-color);
    font-size: 15px;
}

.unit{
    float: left;
    padding-left: 5%;
    color: white;
    font-size: 15px;
}

data-title{
    float: left;
    color: white;
    font-size: 15px;
    text-align: left;
}

data{
    float: right;
    color: var(--data-color);
    font-size: 15px;
}

/*==========================================================================
=====================|    SVG   |==========================================*/
.circle-led{
	float: left;
	text-align: center;
	width: 8%;
	margin-left: 19%;
	margin-top: 0.5%;
}

/*=====================================================
                IMAGES
=====================================================*/
.imagecontroller{
    height: 100%;
}