{% load static %}
<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <title>Xplore Workstation</title>

        <!-- STYLE -->
        <link href="{% static 'common/border.css' %}" rel="stylesheet">
        <link href="{% static 'common/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% block page_style %}{% endblock %}" rel="stylesheet">

        <!-- ICON -->
	    <link rel="icon" type="image/x-icon" href="{% static 'common/Xplore-icon.ico' %}">

        {% block scripts_start %}{% endblock %}
    </head>

    <body>
        {{ tab_name|json_script:"tab-name" }}
	    {{ current_state|json_script:"state"  }}
        
        <div id="container">
        
            
    
            <div id="sidebar" class="box">
                <div class="logo">
                            <form class="logo-form" action="http://127.0.0.1:8000/csApp/homepage">
                                <input id="imagelogo" type="image" src="{% static 'common/Xplore-logo-white.png' %}" alt="My image">
                            </form>
                        </div>
                        
                        <div class="page-button-container">
                            <form action="http://127.0.0.1:8000/csApp/navigation">
                                <button id="navigation" class="page-button">
                                    <span>NAVIGATION</span>
                                </button>
                            </form>
                            
                            <form action="http://127.0.0.1:8000/csApp/handlingdevice">
                                <button id="handlingdevice" class="page-button">
                                    <span>HANDLING DEVICE</span>
                                </button>
                            </form>
                            
                            <form action="http://127.0.0.1:8000/csApp/science">
                                <button id="science" class="page-button">
                                    <span>SCIENCE</span>
                                </button>
                            </form>
                            
                            <form action="http://127.0.0.1:8000/csApp/manualcontrol">
                                <button id="manualcontrol" class="page-button">
                                    <span>MANUAL CONTROL</span>
                                </button>
                            </form>
                            
                            <form action="http://127.0.0.1:8000/csApp/logs">
                                <button id="logs" class="page-button">
                                    <span>LOGS</span>
                                </button>
                            </form>
                            {% block menu %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>

            {% block body %}
            {% endblock %}
        </div>
        
        {% block scripts_end %}
        {% endblock %} 

    </body>
</html>