::-webkit-scrollbar{
    width: 2em;
}
::-webkit-scrollbar-track{
    background: hsl(120 75% 50% / 1)
}

::-webkit-scrollbar-thumb{
    background: hsl(120 100% 20% / 1)
}

.scroll-bg{
    background: white;
    width: 50%;
}

.scroll-div{
    background-color: white;
    height: 500px;
    width: 100%;
    overflow: hidden;
    overflow-y: scoll;
}
.scroll-object{
    width: 50%;
}


.example-text{
    text-align: center;
    color: rgb(255, 0, 0);
}
