{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Xplore_CS_2022</title>
  <link href="{% static 'common/border.css' %}" rel="stylesheet">
  <link href="{% static 'handlingdevice/handlingdevice.css' %}" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="{% static 'homepage/Xplore-icon.ico' %}">
</head>

<body>
<div id="container">
  	<div id="sidebar" class="box">
  	  <div class="logo">
		<form action="http://127.0.0.1:8000/Xplore_CS_2022/homepage">
			<input id="imagelogo" type="image" src="{% static 'common/Xplore-logo-white.png' %}" alt="My image">
		</form>
  	  </div>
  	  
  	  <div class="page-button-container">
  	  	<form action="http://127.0.0.1:8000/Xplore_CS_2022/navigation">
					<button id="navigation" class="page-button">
						<span>NAVIGATION</span>
					</button>
				</form>
				
				<form action="http://127.0.0.1:8000/Xplore_CS_2022/handlingdevice">
					<button id="handlingdevice" class="current-page-button">
						<span>HANDLING DEVICE</span>
					</button>
				</form>
				
				<form action="http://127.0.0.1:8000/Xplore_CS_2022/science">
					<button id="science" class="page-button">
						<span>SCIENCE</span>
					</button>
				</form>
				
				<form action="http://127.0.0.1:8000/Xplore_CS_2022/manualcontrol">
					<button id="manualcontrol" class="page-button">
						<span>MANUAL CONTROL</span>
					</button>
				</form>
				
				<form action="http://127.0.0.1:8000/Xplore_CS_2022/avionics">
					<button id="avionics" class="page-button">
						<span>AVIONICS</span>
					</button>
				</form>
  	  </div>
  	  
  	  <div class="state-button-container">
  	  	<button id="launch" class="state-button">
  	  	<span>LAUNCH<span>
  	  	</button>
  	  	
  	  	<button id="abort" class="state-button">
  	  	<span>ABORT<span>
  	  	</button>
  	  	
  	  	<button id="resume" class="state-button">
  	  	<span>RESUME<span>
  	  	</button>
  	  	
  	  	<button id="wait" class="state-button">
  	  	<span>WAIT<span>
  	  	</button>
  	  </div>
  	  
  	</div>
	
  	<div id="right-side" class="box">
  		<div class="top-bar">
  			<label id="idle-state" class="neon-label">IDLE</label>
  			<label id="navigation-state" class="neon-label">NAVIGATION</label>
  			<label id="hd-state" class="neon-label">HANDLING DEVICE</label>
  			<label id="science-state" class="neon-label">SCIENCE</label>
  			<label id="manual-state" class="neon-label">MANUAL CONTROL</label>
  			<label id="waiting-state" class="neon-label">WAITING</label>		
  		</div>
  		
  		<div id="page" class="page">
  			<!--LEFT SIDE-->
  			<div class="left">
				<div class="top-left">
					<div class="table-container">
					  <div class = "padding-divider">
						  <div class="forty-divider" >
							  <div class="entry-cases">
								  <div class="full-title-c">
									  <p class="data-title">NAME</p>
								  </div>
							  </div>
							  <div class="entry-cases"></div>
							  <div class="entry-cases"></div>
							  <div class="entry-cases"></div>
							  <div class="entry-cases"></div>
							  <div class="entry-cases"></div>
							  <div class="entry-cases"></div>
						  </div>
						  <div class="twenty-divider" >
							  <div class="entry-cases">
								  <div class="full-title-c">
									  <p class="data-title">X</p>
								  </div>
							  </div>
							  <div class="entry-cases"></div>
							  <div class="entry-cases"></div>
							  <div class="entry-cases"></div>
							  <div class="entry-cases"></div>
							  <div class="entry-cases"></div>
							  <div class="entry-cases"></div>
						  </div>	
						  <div class="twenty-divider" >
							  <div class="entry-cases">
								  <div class="full-title-c">
									  <p class="data-title">Y</p>
								  </div>
							  </div>
							  <div class="entry-cases"></div>
							  <div class="entry-cases"></div>
							  <div class="entry-cases"></div>
							  <div class="entry-cases"></div>
							  <div class="entry-cases"></div>
							  <div class="entry-cases"></div>
						  </div>
						  <div class="twenty-divider" >
							  <div class="entry-cases">
								  <div class="full-title-c">
									  <p class="data-title">Z</p>
								  </div>
							  </div>
							  <div class="entry-cases"></div>
							  <div class="entry-cases"></div>
							  <div class="entry-cases"></div>
							  <div class="entry-cases"></div>
							  <div class="entry-cases"></div>
							  <div class="entry-cases"></div>
						  </div>	
					  </div>
					</div>	
					
					<div class="bottom-table">
						<p class="div-title">AR TAGS/BUTTONS TABLE</p>
					</div>

				</div>

				<div class="h-separator"></div>

				<div class="bottom-left">
					<img id="imagehd" src="{% static 'common/hd.png' %}" alt="HD">
				</div>	  
			</div>

			<div class="v-separator"></div>

			<!--RIGHT SIDE-->
			<div class="right">
				
			</div>
  		</div>
  	</div>
  	
</div>
</body>

</html>
