{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Xplore_CS_2022</title>
  <link href="{% static 'common/border.css' %}" rel="stylesheet">
  <link href="{% static 'manualcontrol/manualcontrol.css' %}" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="{% static 'homepage/Xplore-icon.ico' %}">
</head>

<body>
	<div id="container">
  	<div id="sidebar" class="box">
  	  <div class="logo">
		<form action="http://127.0.0.1:8000/Xplore_CS_2022/homepage">
			<input id="imagelogo" type="image" src="{% static 'common/Xplore-logo-white.png' %}" alt="My image">
		</form>
  	  </div>
  	  
  	  <div class="page-button-container">
  	  	<form action="http://127.0.0.1:8000/Xplore_CS_2022/navigation">
					<button id="navigation" class="page-button">
						<span>NAVIGATION</span>
					</button>
				</form>
				
				<form action="http://127.0.0.1:8000/Xplore_CS_2022/handlingdevice">
					<button id="handlingdevice" class="page-button">
						<span>HANDLING DEVICE</span>
					</button>
				</form>
				
				<form action="http://127.0.0.1:8000/Xplore_CS_2022/science">
					<button id="science" class="page-button">
						<span>SCIENCE</span>
					</button>
				</form>
				
				<form action="http://127.0.0.1:8000/Xplore_CS_2022/manualcontrol">
					<button id="manualcontrol" class="current-page-button">
						<span>MANUAL CONTROL</span>
					</button>
				</form>
				
				<form action="http://127.0.0.1:8000/Xplore_CS_2022/avionics">
					<button id="avionics" class="page-button">
						<span>AVIONICS</span>
					</button>
				</form>
  	  </div>
  	  
  	  <div class="state-button-container">
  	  	<button id="launch" class="state-button">
  	  	<span>LAUNCH<span>
  	  	</button>
  	  	
  	  	<button id="abort" class="state-button">
  	  	<span>ABORT<span>
  	  	</button>
  	  	
  	  	<button id="resume" class="state-button">
  	  	<span>RESUME<span>
  	  	</button>
  	  	
  	  	<button id="wait" class="state-button">
  	  	<span>WAIT<span>
  	  	</button>
  	  </div>
  	  
  	</div>
	
  	<div id="right-side" class="box">
  		<div class="top-bar">
  			<label id="idle-state" class="neon-label">IDLE</label>
  			<label id="navigation-state" class="neon-label">NAVIGATION</label>
  			<label id="hd-state" class="neon-label">HANDLING DEVICE</label>
  			<label id="science-state" class="neon-label">SCIENCE</label>
  			<label id="manual-state" class="neon-label">MANUAL CONTROL</label>
  			<label id="waiting-state" class="neon-label">WAITING</label>		
  		</div>
  		
  		<div id="page" class="page">
  				
  			<div class="left">
  				<div class="top-left">
  				
  					<video class="envmap" autoplay="true">
  					</video>
  					<p id="envmap-title">ENVIRONMENT MAP</p>
  					
  				</div>
  				<div class="h-separator">
  				</div>
  				<div class="bottom-left">
  				
  					<div class="camera-container">
  						<div id="left-camera-box" class="camera-box">
  							<video id="camera-0" class="camera"></video>
  							<!--<div class="h-separator-s"></div>-->
  							<video id="camera-1" class="camera"></video>
  							<!--<div class="h-separator-s"></div>-->
  							<video id="camera-2" class="camera"></video>
  							<!--<div class="h-separator-s"></div>-->
  							<video id="camera-3" class="camera"></video>
  							<!--<div class="h-separator-s"></div>-->
  							<video id="camera-4" class="camera"></video>
  						</div>
  						<!-- <div class="v-separator-s"></div> -->
  						<div id="right-camera-box" class="camera-box">
  							<video id="camera-5" class="camera"></video>
  							<!--<div class="h-separator-s"></div>-->
  							<video id="camera-6" class="camera"></video>
  							<!--<div class="h-separator-s"></div>-->
  							<video id="camera-7" class="camera"></video>
  							<!--<div class="h-separator-s"></div>-->
  							<video id="camera-8" class="camera"></video>
  							<!--<div class="h-separator-s"></div>-->
  							<video id="camera-9" class="camera"></video>
  						</div>
  					</div>
  					
  					<div class="hd">
  						<!-- <video class="hd-animation"></video> -->
  						<div class="hd-container">
  							<img id="imagehd" src="{% static 'common/hd.png' %}" alt="HD">
  						</div>
  						
  						<div class="joint-option-container">
  							<button id="choose-joint">
  	  						<span>CHOOSE JOINT<span>
  	  					</button>
  	  				</div>
  					</div>
  				
  				</div>
  			</div>
 				<div class="v-separator">
 				</div>
  			<div class="right">
  			
  				<div class="rover">
  					<img id="imagerover" src="{% static 'common/Xplore-rover.png' %}" alt="ROVER">
  				</div>
  				
  				<div class="settings-container">
  					<div class="settings-top-bar">
  						<div class="currentpos-container">
  							<div class="pos-title-c">
  								<p class="pos-title">CURRENT POSITION:</p>
  							</div>
  							<div class="pos-coord">
  								<div class="coord-c">
  									<p class="coord-type">X</p>
  									<p class="coordinate">0.00</p>
  								</div>
  								<div class="coord-c">
  									<p class="coord-type">Y</p>
  									<p class="coordinate">0.00</p>
  								</div>
  								<div class="coord-c">
  									<p class="coord-type">Z</p>
  									<p class="coordinate">0.00</p>
  								</div>
  							</div>
  						</div>
  						<div class="velocity-container">
  							<div class="velocity-title-c">
  								<p class="velocity-title">VELOCITY:</p>
  							</div>
  							<div class="velocity-type-container">
  								<div class="velocity-type-c">
  									<p class="velocity-type">Linear</p>
  									<p class="velocity">0.00</p>
  								</div>
  								<div class="velocity-type-c">
  									<p class="velocity-type">Angular</p>
  									<p class="velocity">0.00</p>
  								</div>
  							</div>
  						</div>
  					</div>
  					<div class="settings-bottom">
  						<div class="settings">
  							<div class="manual-settings">
  							</div>
  						</div>
  						<div class="widgets">
  							<div class="circle-led-container">
  								<svg xmlns="http://www.w3.org/2000/svg" fill="green" class="circle-led" viewBox="0 0 16 16">
  									<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  									<path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
									</svg>
									
									<svg xmlns="http://www.w3.org/2000/svg" fill="yellow" class="circle-led" viewBox="0 0 16 16">
  									<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  									<path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
									</svg>
									
									<svg xmlns="http://www.w3.org/2000/svg" fill="red" class="circle-led" viewBox="0 0 16 16">
  									<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  									<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
								</svg>
							</div>
								
							<div class="velocity-dashboard-container">
								<img id="imagevelocity" src="{% static 'manualcontrol/velocity-dashboard.png' %}" alt="Velocity Dashboard">
							</div>
								
  						</div>
  					</div>
  			
  			</div>
  		</div>
  	</div>
  	
  </div>
</body>

</html>
