@import '../../styles/variables'
    
.taskControlContainer
    position: fixed
    right: 5vw
    bottom: 2vh

.cameraSelectorContainer
    position: fixed
    left: 5vw
    bottom: 2vh
    z-index: 0

.InfoControllerContainer
    position: fixed
    bottom: 2vh
    left: 25vh
    height: 15vh
    width: 60vw
    border-radius: 2vh
    background-color: rgba($primaryDark2Color, 0.8)
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column

.stateDisplay
    background-color: $secondaryColor
    color: white
    padding: 10px
    font-size: 2vh

.Info
    width: 20%
    height: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-evenly
    margin: 0

.ControlsContainer
    position: fixed
    top: 7vh
    right: 5vw
    width: 15vw
    height: 70vh
    display: flex
    flex-direction: column
    padding: 2vh 2vw
    background-color: rgba($primaryDark2Color, 0.8)
    border-radius: 2vh
    align-items: flex-startcenter
    justify-content: space-evenly
    margin: 0

.title 
    font-size: 3vh
    color: white
    margin: 0
