
.cardContainer
    background-color: #8C6746
    color: white
    padding: 10px
    position: relative
    width: 70%
    height: 5%
    display: flex
    padding: 10px 20px
    flex-direction: row
    cursor: pointer
    border-radius: 80px
    justify-content: space-around
    align-items: center
    justify-content: center
    

.cardText
    font-size: 12px
    text-fit: contain
    text-align: center  

.closeButton 
    position: absolute
    top: 0
    right: 0
    width: 10px
    height: 10px
    border-radius: 50%
    background-color: red
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
  
