@import '../../styles/variables.sass'

.cardContainer
    background-color: #8C6746
    color: white
    position: relative
    width: 70%
    display: flex
    padding: 10px 10px
    flex-direction: row
    cursor: pointer
    border-radius: 12px
    justify-content: space-around
    align-items: center
    justify-content: center
    

.cardText
    font-size: 15px
    text-fit: contain
    text-align: center  
    margin: 0

.closeButton 
    position: absolute
    top: -5px
    right: -5px
    width: 20px
    height: 20px
    border-radius: 50%
    background-color: $errorColor
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
  
