/*==========================================================================
=====================| LOCAL VARS  |======================================*/
:root{
	--height: 92%;

	--left-width : 59.9%;
	--right-width: 39.9%;
	
	--top-left-height: 85.8%;
	--bottom-left-height: 14.8%;

	--top-right-height: 49.8%;
	--bottom-right-height: 49.8%;

	--xplore-blue: #07142d;
}
/*==========================================================================
								NAVIGATION
==========================================================================*/
.left{
	float: left;
	width: var(--left-width);
	height: var(--height);
}

.top-left{
	background-color: var(--clr-gb);
	width: 100%;
	height: var(--top-left-height);
}

.bottom-left{
	background-color: var(--clr-gb);
	width: 100%;
	height: var(--bottom-left-height);	
}

.right{
	float: left;
	background-color: var(--clr-gb);
	width: var(--right-width);
	height: var(--height);
}

.top-right{
	background-color: var(--clr-gb);
	width: 100%;
	height: var(--top-right-height);
}

.bottom-right{
	background-color: var(--clr-gb);
	width: 100%;
	height: var(--bottom-right-height);
}

.widgets{
	float: left;
	width: 50%;
	height: 100%;
	
}

.circle-led-container{
	text-align: center;
	width: 100%;
	height: 100%;
}

/*==========================================================================
=====================|    DATA   |==========================================*/
.left-panel{
	float: left;
	width:40%;
	height: 95%;
	margin-top: 7px;
	margin-left: 3.33%;
	border: var(--xplore-blue) 0.125em solid;
	border-radius: 30px;
}

.right-panel{
	float: left;
	width:50%;
	height: 95%;
	margin-top: 7px;
	margin-left: 3.33%;
	border: var(--xplore-blue) 0.125em solid;
	border-radius: 30px;
}

.subject-container{
	width: 100%;
	height: 50%;
	margin-top: -4%;
}

.title-container{
	width: 100%;
	height: 10%;
}

.data-container{
	height: 90%;
	width: 100%;
}

.data-line-container{
	width: 100%;
	height: 33.33%;
}
/*==========================================================================
=====================|    SVG   |==========================================*/
.circle-led{
	float: left;
	text-align: center;
	width: 8%;
	margin-left: 19%;
	margin-top: 2.5%;
}


/*==========================================================================
=====================|    P    |==========================================*/
#envmap-title{
	text-align: center;
	color: white;
	font-size: 15px;
	font-family: sans-serif;
	margin-top:-4%;
}

.title{
	text-align: center;
	color: rgb(196, 196, 196);
	font-size: 20px;
	font-family: sans-serif;
}

.data-title{
	float: left;
	text-align: right;
	color: rgb(196, 196, 196);
	font-size: 15px;
	font-family: sans-serif;
	width: 50%;
}

.data{
	float: left;
	padding-left: 10%;
	color: rgb(252, 255, 72);
	font-size: 15px;
	font-family: sans-serif;
}

/*==========================================================================
=====================| IMAGES  |==========================================*/
#imagerover{
	height: 100%;
}

/*==========================================================================
=====================| VIDEOS  |==========================================*/
.envmap{
	width: 100%;
	height: 100%;
}

/*==========================================================================
=====================| BUTTONS  |==========================================*/


/*==========================================================================
=====================| STATE-BUTTON  |=====================================*/

.state-button-container{
	position: fixed;
	height: 210px;
	width: 230px;
	margin-top: 330px;
	margin-left: 5px;
	border-radius: 5px;
	border: 4px double #4f4f4f;
	background-color: black;
}

/*==========================================================================
=====================| BUTTONS |==========================================*/
.state-button{
	background-color: #767679;
	border-radius: 10px;
  border: 5px solid;
  width: 95px;
  height: 80px;
  
  font-size: 18px;
  color: black;
  transition: all 0.5s;
  cursor: pointer;
}

.state-button-form{
	float: left;
	width: 95px;
	height: 80px;
	padding: 10px;
}

.state-button:hover {
	background-color: #e9e9ed;
}

#launch{border-color: #1ccf00;}	#launch:hover{background-color:#1ccf00;}
#abort {border-color: #ff0000;}	#abort:hover {background-color:#ff0000;}
#resume{border-color: blue;   }	#resume:hover{background-color:blue;   }
#wait  {border-color: #feff1e;}	#wait:hover  {background-color:#feff1e;}