/*==========================================================================
=====================| VARS  |============================================*/
:root{
	--clr-neon: #0000ff;
	--clr-y   : yellow;
	--clr-gb  : #121212;
	--clr-sep : #07142d;

	--xplore-blue: #07142d;
}

/*==========================================================================
=====================| DIVS  |============================================*/


#container{
	margin-left: -8px;
	margin-top: -8px;
}

.box{
	position: fixed;
	float: left;
	height: 100%;
}

#sidebar{
	width: 250px;
	background-color: #000000;
	text-align: center;
}

#right-side{
	margin-left: 250px;
	width: 87%;
}

.page-button-container{
	margin-top: 30px;
	position: fixed;
}

.state-button-container{
	position: fixed;
	height: 300px;
	width: 230px;
	margin-top: 330px;
	margin-left: 5px;
	border-radius: 5px;
	border: 4px double #4f4f4f;
	background-color: black;
}

.top-bar{
	width: 100%;
	height: 57px;
	padding-top: 15px;
	background-color: black;
}

.page{
	background-color: #121212;
	width: 100%;
	height: 100%;
}


/*==========================================================================
=====================| BUTTONS |==========================================*/
.page-button{
	text-align: left;
	background-color: #000000;
	color: #eeeeee;
	border-radius: 10px;
	border: 0px;
	font-size: 22px;
	width: 230px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 5px;
	transition: all 0.5s;
	cursor: pointer;
}

.current-page-button{
	text-align: left;
	background-color: #eeeeee;
	color: #07142d;
	border-radius: 10px;
	font-size: 22px;
	width: 230px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 5px;
	transition: all 0.5s;
	cursor: pointer;
}

.page-button:hover {
	background-color: var(--xplore-blue);
	font-size: 23px;
}

.state-button{
	background-color: #767679;
	border-radius: 10px;
	border: 5px solid;
	width: 95px;
	height: 80px;
  
	font-size: 18px;
	color: black;
	transition: all 0.5s;
	cursor: pointer;
}

.state-button-form{
	float: left;
	width: 95px;
	height: 80px;
	padding: 10px;
}

.state-button:hover {
	background-color: #e9e9ed;
}

#launch-form{width: 210px; height: 80px;}
#launch{width: 210px; height: 80px;}
#launch{border-color: #1ccf00;}	#launch:hover{background-color:#1ccf00;}
#abort {border-color: #ff0000;}	#abort:hover {background-color:#ff0000;}
#resume{border-color: blue;   }	#resume:hover{background-color:blue;   }
#wait  {border-color: #feff1e;}	#wait:hover  {background-color:#feff1e;}
#retry {border-color: #ae00ff;}	#retry:hover {background-color:#d375ff;}


/*==========================================================================
=====================| LABELS  |==========================================*/
.page-title{
	color: white;
}

.top-label{
	text-align: center;
	color: white;
	padding-top: 3px;
	
	float: left;
	margin-left: 2%;
	width: 15%;
	height: 23px;
	border: 4px double #0000ff;
}

.neon-label{
	float: left;
	text-align: center;
	margin-left: 1%;
	padding-top: 3px;
	width: 13%;
	height: 23px;
	font-size: 1.2rem;
	
	cursor: pointer;
	text-decoration: none;
	padding: 0.25em 1em;
	border-radius: 0.25em;
	
	text-shadow:
		0 0 0.125em hsl(0 0% 100% / 0.3),
		0 0 0.25em currentColor;
		
	position: relative;
}
/*
.neon-label:hover{
	background: var(--clr-neon);
	color: black;
	text-shadow: none;
	box-shadow: 0 0 2em 0.3em var(--clr-neon);
}*/

#idle-state, #waiting-state{
	color: white;
	border: var(--clr-y) 0.125em solid;
	box-shadow: inset
		0 0 0.5em 0 var(--clr-y),
		0 0 0.5em 0 var(--clr-y);
}

#navigation-state, #hd-state, #science-state, #manual-state{
	color: white;
	border: var(--clr-neon) 0.125em solid;
	box-shadow: inset
		0 0 0.5em 0 var(--clr-neon),
		0 0 0.5em 0 var(--clr-neon);
}

#idle-state:hover, #waiting-state:hover{
	background: var(--clr-y);
	color: black;
	text-shadow: none;
	box-shadow: 0 0 2em 0.3em var(--clr-y);
}

#navigation-state:hover, #hd-state:hover, #science-state:hover, #manual-state:hover{
	background: var(--clr-neon);
	text-shadow: none;
	box-shadow: 0 0 2em 0.3em var(--clr-neon);
}


#idle {
	margin-left: 1%;
}
/*==========================================================================
=====================| IMAGES  |==========================================*/
#imagelogo{
	height: 57px;
	margin-top: 10px;
}

#imagerover{
	height: 100%;
}

/*==========================================================================
=====================|SEPARATORS|==========================================*/

.v-separator-s{
	float: left;
	background-color: var(--clr-sep);
	height: 100%;
	width: 10px;
}

.v-separator{
	float: left;
	background-color: var(--clr-sep);
	height: 100%;
	width: 0.2%;
}

.h-separator{
	background-color: var(--clr-sep);
	height:0.4%;
	width: 100%;
}

.h-separator-s{
	float: left;
	background-color: var(--clr-sep);
	height: 4px;
	width: 100%;
}

