{% extends "../base.html" %}
{% load static %}


{% comment %} 
			Style Block
Contains the reference to the page stylesheet.
{% endcomment %}
{% block page_style %}{% static 'handlingdevice/handlingdevice.css' %}{% endblock %}


{% comment %} 
							Script Block
Contains global scripts for the page, that do not need the content to be loaded yet.
{% endcomment %}

{% block scripts_start %}

	<!-- SCRIPT -->
	<script src="{% static 'common/border.js' %}"></script>
	<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>

{% endblock %}

	<!-- ICON -->
	<link rel="icon" type="image/x-icon" href="{% static 'common/Xplore-icon.ico' %}">

</head>

	
{% block menu %}

	{% include '../components/rover_status.html' %}
				
	{% include '../components/menu_controls.html' %}

				<script src="{% static 'handlingdevice/launch_handlingdevice.js' %}"></script>
			</div>
{% endblock %}

{% block body %}
		<div id="right-side" class="box">
			{% include '../components/top_bar.html' %}

			<div id="page" class="page">
				<!--LEFT SIDE-->
				<div class="left">
					<div class="top-left">
						<video class="camera"></video>
					</div>

					<div class="h-separator"></div>

					<div class="bottom-left">
						<video class="camera"></video>
					</div>

				</div>

				<div class="v-separator"></div>

				<!--RIGHT SIDE-->
				<div class="right">
					
					<div class="top-right">

						<div class="table-container">
							<table id="scroll-body" class="table table-dark table-striped">
								<thead>
									<tr class="title-tr">
										<th scope="col">#</th>
										<th scope="col">TAG/BUTTON</th>
										<th scope="col">X</th>
										<th scope="col">Y</th>
										<th scope="col">Z</th>
										<th scope="col">A</th>
										<th scope="col">B</th>
										<th scope="col">C</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th scope="row">1</th>
										<td class="element-title">Button 1</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
									</tr>
									<tr>
										<th scope="row">2</th>
										<td class="element-title">Button 2</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
									</tr>
									<tr>
										<th scope="row">3</th>
										<td class="element-title">Button 3</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
									</tr>
									<tr>
										<th scope="row">4</th>
										<td class="element-title">Button 4</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
									</tr>
									<tr>
										<th scope="row">5</th>
										<td class="element-title">Button 5</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
									</tr>
									<tr>
										<th scope="row">6</th>
										<td class="element-title">Button 6</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
									</tr>
									<tr>
										<th scope="row">7</th>
										<td class="element-title">Button 7</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
									</tr>
									<tr>
										<th scope="row">8</th>
										<td class="element-title">Button 8</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
									</tr>
									<tr>
										<th scope="row">9</th>
										<td class="element-title">Button 9</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
									</tr>
									<tr>
										<th scope="row">10</th>
										<td class="element-title">Button 10</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
									</tr>
									<tr>
										<th scope="row">11</th>
										<td class="element-title">Button 11</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
									</tr>
									<tr>
										<th scope="row">12</th>
										<td class="element-title">Button 12</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
									</tr>
									<tr>
										<th scope="row">13</th>
										<td class="element-title">Button 13</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
									</tr>
									<tr>
										<th scope="row">14</th>
										<td class="element-title">Button 14</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>

					<div class="h-separator"></div>

					<div class="bottom-right">

						<div class="joints">
							

							<div class="joint-data-pos">

								<div class="title-container">
									<p class="data-title"> Joint Velocities (m/s): </p>
								</div>

								<div class="container">
									<p id="joint1_vel" class="data"> 0 </p>
									<p class="data"> &#xA0; </p>
									<p id="joint2_vel" class="data"> 0 </p>
									<p class="data"> &#xA0; </p>
									<p id="joint3_vel" class="data"> 0 </p>
									<p class="data"> &#xA0; </p>
									<p id="joint4_vel" class="data"> 0 </p>
									<p class="data"> &#xA0; </p>
									<p id="joint5_vel" class="data"> 0 </p>
									<p class="data"> &#xA0; </p>
									<p id="joint6_vel" class="data"> 0 </p>
									<p class="data"> &#xA0; </p>
									<p id="joint7_vel" class="data"> 0 </p>
									<p class="data"> &#xA0; </p>
								</div>
							</div>

							<div class="joint-data-pos">

								<div class="title-container">
									<p class="data-title"> Distance to element: </p>
								</div>

								<div class="container">
									<p id="tof" class="data"> 0 </p>
									<p class="data"> &#xA0; m</p>
								</div>
							</div>

							{% include '../components/joint_slider_pos.html' %}

						</div>


						<div class="user-input-container">
							<form class="input-form" action="" method="POST">{% csrf_token %}
								<div class="input-title-container">{% csrf_token %}
									<p class="input-title"></p>
									<!-- <input id="scan" class="set-button" type="submit" value="SCAN"> 
									I SUGGEST FOR NOW TO JUST HAVE THE OPTION TO SEND THE ID 0 TO SCAN AND NOT HAVE A SEPARATE BUTTON-->
								</div>

								<div class="button-dropdown-container">
									<p class="dropdown-title">ID</p>
									<select class="dropdown" id="dropdown_id">

										<option>0</option>

										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
									</select>

									<input id="set_id" class="set-button" type="submit" value="SET"> <!-- set-button -->
								</div>

							</form>

							<script src="{% static 'handlingdevice/set_button_task.js' %}"></script>

						</div>
					</div>
				</div>
			</div>
		</div>

{% endblock %}

{% block scripts_end %}

	<script src="{% static 'handlingdevice/handlingdevice_socket.js' %}"></script>
	<script src="{% static 'common/common.js' %}"></script>

{% endblock %}
