<div class="joint-data-pos" style="display: grid;" >
    <div class="title-container">
        <p class="data-title"> Joint Positions (deg): </p>
    </div>

    <div class="container" style="display: grid; margin-left: 10px;">
        <div class="joint_slider" style="margin-bottom: 0px; display: flex;">
            <p class="data" style="margin-right: 10px; margin-bottom: 0px;">-232</p>
            <input id="joint1_slider" type="range" min="-232" max="221" value="0" style="width: 400px;">
            <p class="data" style="margin-left: 0px; margin-right: 10px; margin-bottom: 0px;">+221</p>
            <p id="joint1_coord" class="data" style="margin-right: 100px; margin-bottom: 0px;">0</p>
        </div>

        <div class="joint_slider" style="margin-bottom: 0px; display: flex;">
            <p class="data" style="margin-right: 10px; margin-bottom: 0px;">-56</p>
            <input id="joint2_slider" type="range" min="-56" max="123" value="0" style="width: 400px;">
            <p class="data" style="margin-left: 0px; margin-right: 10px; margin-bottom: 0px;">+123</p>
            <p id="joint2_coord" class="data" style="margin-right: 100px; margin-bottom: 0px;">0</p>
        </div>

        <div class="joint_slider" style="margin-bottom: 0px; display: flex;">
            <p class="data" style="margin-right: 10px; margin-bottom: 0px;">-32 </p>
            <input id="joint3_slider" type="range" min="-32" max="37" value="0" style="width: 400px;">
            <p class="data" style="margin-left: 0px; margin-right: 10px; margin-bottom: 0px;">37</p>
            <p id="joint3_coord" class="data" style="margin-right: 100px; margin-bottom: 0px;">0</p>
        </div>

        <div class="joint_slider" style="margin-bottom: 0px; display: flex;">
            <p class="data" style="margin-right: 10px; margin-bottom: 0px;">-92      </p>
            <input id="joint4_slider" type="range" min="-92" max="91" value="0" style="width: 400px;">  
            <p class="data" style="margin-left: 0px; margin-right: 10px; margin-bottom: 0px;">+91</p>
            <p id="joint4_coord" class="data" style="margin-right: 100px; margin-bottom: 0px;">0</p>
        </div>

        <div class="joint_slider" style="margin-bottom: 0px; display: flex;">
            <p class="data" style="margin-right: 10px; margin-bottom: 0px;">-72</p>
            <input id="joint5_slider" type="range" min="-72" max="88" value="0" style="width: 400px;">
            <p class="data" style="margin-left: 0px; margin-right: 10px; margin-bottom: 0px;">+88</p>
            <p id="joint5_coord" class="data" style="margin-right: 100px; margin-bottom: 0px;">0</p>
        </div>

        <div class="joint_slider" style="margin-bottom: 0px; display: flex;">
            <p class="data" style="margin-right: 10px; margin-bottom: 0px;">-150</p>
            <input id="joint6_slider" type="range" min="-150" max="163" value="0" style="width: 400px;">
            <p class="data" style="margin-left: 0px; margin-right: 10px; margin-bottom: 0px;">+163</p>
            <p id="joint6_coord" class="data" style="margin-right: 100px; margin-bottom: 0px;">0</p>
        </div>

        <div class="joint_slider" style="margin-bottom: 0px; display: flex;">
            <p id="joint7_coord" class="data" style="margin-right: 100px; margin-bottom: 0px;">0</p>
        </div>
            
    </div>
</div> 