{% load static %}

<div class="square-state-button-box" style="margin-top: 780px;">

    <div class="state-button-container">
        <form  class="state-button-form" method="POST">
            {% csrf_token %}
            <input id="launch-button" class="state-button" type="submit" value="LAUNCH">
            
        </form>
    </div>
    
    <div class="state-button-container">
        <form  class="state-button-form" method="POST">
            {% csrf_token %}
            <input id="wait-button" class="state-button" type="submit" value="WAIT">
            
        </form>
    </div>
    
    <div class="state-button-container">
        <form  class="state-button-form" method="POST">
            {% csrf_token %}
            <input id="abort-button" class="state-button" type="submit" value="ABORT">
            
        </form>
    </div>


    <div class="state-button-container">
        <form  class="state-button-form" method="POST">
            {% csrf_token %}
            <input id="resume-button" class="state-button" type="submit" value="RESUME">
            
        </form>
    </div>